<div class="footer">
    <div class="container">
        <div class="footerlogo">
            <a href=""><img src="/images/footerlogo.png" alt=""></a>
            <div class="icons flex">
                <a href=""><i class="fab fa-facebook-square"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
            </div>
        </div>
        <div class="footerlist">
            <ul>
                <li><a href="">Artigos</a></li>
                <li><a href="">Livros</a></li>
                <li><a href="">Cursos</a></li>
                <li><a href="">Contato</a></li>
            </ul>
            <p>(21) 9 8567-0564</p>
            <p>english@moon.com</p>
        </div>
        <div class="footerform">
            <form action="">
                <h2>Assine nosso Newsletter</h2>
                <input type="text" placeholder="Insira seu e-mail"><br/>
                <Button>Inscreva-se</Button>
            </form>
        </div>

    </div>
</div>