<!doctype html>
<html lang="en">
<head>
    <title>EnglishMoon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">
</head>
<body>
    <!-- navbar -->
    <div class="header">        
        <div class="shadow"></div>
        <div id="dropmenu_desk" class="drop-menu">
            <div class="drop-menu-header">
                <i class="fas fa-bars act-hamb-bars"></i>
                <a href="/"><img src="/images/logo3.png" alt="Logo"></a> 
            </div>
            <div class="drop-menu-line"></div>
            <div class="drop-menu-options">
                <div class="flex drop-menu-options-sub">
                    <i class="far fa-bookmark"></i>
                    <a href="/articles">Artigos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-book"></i>
                    <a href="/books">Livros</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-pencil-alt"></i>
                    <a href="/courses">Cursos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-phone-alt"></i>
                    <a href="/contact">Contato</a>
                </div>
            </div>
        </div>
        <div id="dropmenu_mobile" class="drop-menu">
            <div class="drop-menu-header">
                <i class="fas fa-bars act-hamb-bars"></i>
                <a href="/"><img src="/images/logo3.png" alt="Logo"></a> 
            </div>
            <div class="drop-menu-line"></div>
            <div class="drop-menu-options">
                <div class="flex drop-menu-options-sub">
                    <i class="far fa-bookmark"></i>
                    <a href="/articles">Artigos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-book"></i>
                    <a href="/books">Livros</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-pencil-alt"></i>
                    <a href="/courses">Cursos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-phone-alt"></i>
                    <a href="/contact">Contato</a>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="logo flex">
            <div class="container flex hamb-bars">
                <i class="fas fa-bars"></i>
            </div>
            <div class="container flex">
                <a href="/"><img src="/images/logo3.png" alt="Logo"></a> 
            </div>
            <div class="bar"></div>
        </div>
        <div class="options flex">
            <ul>
                <li><a href="/articles?page=1">Artigos</a><div class="line lineone"></div></li>
                <li><a href="/books">Livros</a><div class="line linetwo"></div></li>
                <li><a href="/courses">Cursos</a><div class="line linethree"></div></li>
                <li><a href="/contact">Contato</a><div class="line linefour"></div></li>
            </ul>
        </div>
        <div class="log flex">
            <% if (currentUser) { %>
                <% let name = currentUser.name.split('') %>
                <% name = name.slice(0, name.indexOf(' ')) %>
                <% name = name.join('') %>
                <div class="loged-log">
                    <p>Olá, <span><%=name%></span></p>
                    <i class="fas fa-user-circle profilebtn"></i>
                </div>
                <% } else { %>
                <button class="regular-log">Entrar</button>
                <a href="/register"> Registrar </a>
                <% } %>
            </div>
        <% if (currentUser) { %>
            <div class="profile-opt">
                <a href="/profile">SUA CONTA</a>
                <a href="">SEUS CURSOS</a>
                <a href="/logout">SAIR</a>
            </div>
            <div class="log2-loged flexOne flex">
                <i class="fas fa-user-circle"></i>
            </div>
        <% } else { %>
            <div class="log2 flexOne flex">
                <i class="far fa-user"></i>
            </div>
        <% } %>
        <div class="search flex">
            <form action="/articles" method="GET">
                <input maxlength="60" type="text" name="search" placeholder="O que está procurando?">
                <button id="search-icon"><i class="fas fa-search"></i></button>
            </form>
            <div class="search-sup">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="search-tiny">
            <form action="/articles" method="GET">
                <i class="fas fa-times cancel-search-tiny"></i>
                <input maxlength="60" type="text" name="search" placeholder="O que está procurando?">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <!--  -->
        <div class="dropdown-aut">
            <i class="fas fa-times cancel-dropdown-aut"></i>
            <h2>Bem-vindo!</h2>
            <p>Pronto pra começar a estudar? Faça login e comece agora mesmo</p>
            <div class="form-container">
                <form action="/login" method="POST">
                    <p>E-MAIL</p>
                    <input maxlength="35" type="text" name="email">
                    <p>SENHA</p>
                    <input maxlength="35" type="password" name="password">
                    <% if(message == "Missing credentials") { %>
                    <h5>PREENCHA OS CAMPOS</h5>
                    <% } else { %>
                    <h5><%= message %></h5>
                    <% } %>
                    <p> <a href=""> Esqueceu a sua senha? </a> </p>
                    <button class="signBtn">Entrar</button>
                    <div class="signup">
                        <a href="/register"> Cadastre-se </a>
                    </div>
                    <p> ou </p>
                    <div class="google-sign">
                        <a href="/google"><i class="fab fa-google-plus-square"></i><p>Entrar</p></a>
                    </div>
                </form>
            </div>
        </div>
        
    </div>