<!doctype html>
<html lang="en">
<head>
    <title>EnglishMoon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/fontawesome-free-5.12.0-web/css/all.css" rel="stylesheet">

    <!-- <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script> -->
</head>
<body>
    <!-- navbar -->
    <div class="header">        
        <div class="shadow"></div>
        <div id="dropmenu_desk" class="drop-menu">
            <div class="drop-menu-header">
                <i class="fas fa-bars act-hamb-bars"></i>
                <a href="/"><img src="/images/logo3.png" alt="Logo"></a> 
            </div>
            <div class="drop-menu-line"></div>
            <div class="drop-menu-options">
                <div class="flex drop-menu-options-sub">
                    <i class="far fa-bookmark"></i>
                    <a href="#">Artigos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-book"></i>
                    <a href="">Livros</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-pencil-alt"></i>
                    <a href="">Cursos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-phone-alt"></i>
                    <a href="">Contato</a>
                </div>
            </div>
        </div>
        <div id="dropmenu_mobile" class="drop-menu">
            <div class="drop-menu-header">
                <i class="fas fa-bars act-hamb-bars"></i>
                <a href="/"><img src="/images/logo3.png" alt="Logo"></a> 
            </div>
            <div class="drop-menu-line"></div>
            <div class="drop-menu-options">
                <div class="flex drop-menu-options-sub">
                    <i class="far fa-bookmark"></i>
                    <a href="">Artigos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-book"></i>
                    <a href="">Livros</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-pencil-alt"></i>
                    <a href="">Cursos</a>
                </div>
                <div class="flex drop-menu-options-sub">
                    <i class="fas fa-phone-alt"></i>
                    <a href="">Contato</a>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="logo flex">
            <div class="container flex hamb-bars">
                <i class="fas fa-bars"></i>
            </div>
            <div class="container flex">
                <a href="/"><img src="/images/logo3.png" alt="Logo"></a> 
            </div>
            <div class="bar"></div>
        </div>
        <div class="options flex">
            <ul>
                <li><a href="/articles?page=1">Artigos</a><div class="line lineone"></div></li>
                <li><a href="/books">Livros</a><div class="line linetwo"></div></li>
                <li><a href="/courses">Cursos</a><div class="line linethree"></div></li>
                <li><a href="/contact">Contato</a><div class="line linefour"></div></li>
            </ul>
        </div>
        <div class="log flex">
            <button class="regular-log">Entrar</button>
            <button>Registrar</button>
        </div>
        <div class="log2 flexOne flex">
            <i class="far fa-user"></i>
        </div>
        <div class="search flex">
            <form action="">
                <input type="text" name="search" placeholder="O que está procurando?">
                <button id="search-icon"><i class="fas fa-search"></i></button>
            </form>
            <div class="search-sup">
                <i class="fas fa-search"></i>
            </div>
        </div>
        <div class="search-tiny">
            <form action="">
                <i class="fas fa-times cancel-search-tiny"></i>
                <input type="text" name="search" placeholder="O que está procurando?">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <!--  -->
        <div class="dropdown-aut">
            <i class="fas fa-times cancel-dropdown-aut"></i>
            <h2>Bem-vindo!</h2>
            <p>Pronto pra começar a estudar? Faça login e comece agora mesmo</p>
            <div class="form-container">
                <form action="">
                    <p>e-mail</p>
                    <input type="text" name="login">
                    <p>senha</p>
                    <input type="text" name="password">
                    <p> <a href=""> Esqueceu a sua senha? </a> </p>
                    <button>Entrar</button>
                    <div class="signup">
                        <a href=""> Cadastre-se </a>
                    </div>
                    <p> ou </p>
                    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>
                    <!-- <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with" data-auto-logout-link="false" data-use-continue-as="false"></div> -->
                </form>
            </div>
        </div>
        
    </div>