<!doctype html>
<html lang="en">
<head>
    <title>EnglishMoon</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- navbar -->
    <div class="shadow"></div>
    <div class="header flex">
        <div class="logo flex flexOne">
            <div class="container flex hamb-bars">
                <i class="fas fa-bars"></i>
            </div>
            <div class="container flex">
                <a href="/"><img src="images/logo2.jpg" alt="Logo"></a> 
            </div>
        </div>
        <div class="options flexTwo flex">
            <ul>
                <li><a href="/articles">Artigos</a></li>
                <li><a href="/courses">Livros</a></li>
                <li><a href="/courses">Cursos</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
        </div>
        <div class="search flexTwo flex">
            <form action="">
                <input type="text" name="search" placeholder="O que está procurando?">
                <button><i class="fas fa-search"></i></button>
            </form>
            <div class="searchSup">
                <i class="fas fa-search"></i>                
            </div>
        </div>
        <div class="log flexOne flex">
            <button>Entrar</button>
            <button>Registrar</button>
        </div>
        <div class="dropdown-aut">
            <form action="">
                <p>e-mail</p>
                <input type="text" name="login">
                <p>senha</p>
                <input type="text" name="password">
                <p> <a href=""> esqueceu a sua senha? </a> </p>
                <button>Entrar</button>
                <p> <a href=""> Cadastre-se </a></p>
            </form>
        </div>
        <div class="log2 flexOne flex">
            <i class="far fa-user"></i>
        </div>
    </div>

    <div class="body">
        
    </div>
    
    <script src="https://kit.fontawesome.com/e532698c47.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="frontend.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>