<%include partials/header %>

    <div class="main">
        <div class="slider">
            <div class="sliderimg">
                <img src="/images/frame7.jpg" alt="">
                <img src="/images/frame7.jpg" alt="">
                <img src="/images/frame7.jpg" alt="">
            </div>
            <div class="buttons">
                <i class="fas fa-arrow-circle-left"></i>
                <i class="fas fa-arrow-circle-right"></i>
            </div>
        </div>
    </div>
    
<%include partials/footer %>