<!doctype html>
<html lang="en">
<head>
    <title>MoonMedia</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- navbar -->
    <div class="header flex">
        <div class="logo flexOne">
            <a href="/"><img src="images/Teste.jpg" alt="Logo"></a>
            <i class="fas fa-bars"></i>
        </div>
        <div class="options flexTwo flex">
            <ul>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/courses">Courses</a><i class="fas fa-sort-down"></i>
                    <ul>
                        <li class="main">Frontend</li>
                        <li class="li-color"><a href="">HTML5</a></li>
                        <li class="li-color"><a href="">CSS3</a></li>
                        <li class="li-color"><a href="">JavaScript</a></li>
                        <li class="li-color"><a href="">React</a></li>
                        <li class="li-color"><a href="">Angular</a></li>
                        <li class="li-color"><a href="">Vue.js</a></li>
                        <li class="main">Backend</li>
                        <li class="li-color"><a href="">PHP</a></li>
                        <li class="li-color"><a href="">Node.js</a></li>
                        <li class="li-color"><a href="">Spring</a></li>
                        <li class="li-color"><a href="">MongoDB</a></li>
                        <li class="li-color"><a href="">MySQL</a></li>
                        <li class="li-color"><a href="">Deploy</a></li>
                        <li class="li-color"><a href="">Git</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact  Us</a></li>
            </ul>
        </div>
        <div class="search flexTwo flex">
            <form action="">
                <input type="text" name="search" placeholder="Search">
                <button><i class="fas fa-search"></i></button>
            </form>
        </div>
        <div class="log flexOne flex">
            <button>Sing in</button>
            <button>Sign up</button>
        </div>
    </div>

    <div class="body">
        
    </div>
    
    <script src="https://kit.fontawesome.com/e532698c47.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="frontend.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
</body>
</html>