<%include partials/header %>

    <div class="main">
        <div class="slider">
            <div class="sliderimg">
                <img src="/images/architecture-booth-buildings-bus-374815.jpg" alt="">
                <!-- <img src="/images/frame.jpg" alt="">
                <img src="/images/frame.jpg" alt=""> -->
            </div>
            <div class="buttons">
                <i class="fas fa-arrow-circle-left"></i>
                <i class="fas fa-arrow-circle-right"></i>
            </div>
        </div>
    </div>
    
<%include partials/footer %>