<%include partials/header %>

    <div class="main">
        <div class="img-container">
            <main>
                <div class="container">
                    <h1>Aprenda inglês</h1>
                    <h2>de uma vez por todas</h2>
                    <p>Pouco tempo pra estudar? Não tem problema, estudando da maneira correta é possível alcançar a fluência!</p>
                    <a href="">EU QUERO</a>
                </div>
            </main>
            <section id="ebook">
                <div class="medias">
                    <div class="social-container">
                        <a href="http://www.facebook.com/" target="blank"> <i class="fab fa-facebook-square"></i> </a>
                        <a href="http://www.instagram.com/" target="blank"> <i class="fab fa-instagram"></i> </a>
                        <a href="http://www.youtube.com/" target="blank"> <i class="fab fa-youtube"></i> </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="articles">
            <div class="title flex">
                <h2>Últimos Artigos</h2>
                <div class="line"></div>
            </div>
            <div class="slider flex">
                <i class="fas fa-chevron-left slider-btn-left"></i>
                <div class="slider-move">
                    <div style="background-image: url(<%=list[0].image%>);"  class="img">
                        <div class="img-info">
                            <p><%=list[0].title%></p>
                            <div class="line"></div>
                            <p><%=authors[0].name%></p>
                            <p><%=dates[0]%></p>
                        </div>
                    </div>
                    <div class="img" style="background-color: blue;">
                        <div class="img-info">
                            <p>Titulo</p>
                            <div class="line"></div>
                            <p>Autor</p>
                            <p>Data</p>
                        </div>
                    </div>
                    <div class="img">
                        <div class="img-info">
                            <p>Titulo</p>
                            <div class="line"></div>
                            <p>Autor</p>
                            <p>Data</p>
                        </div>
                    </div>
                    <div class="img">
                        <div class="img-info">
                            <p>Titulo</p>
                            <div class="line"></div>
                            <p>Autor</p>
                            <p>Data</p>
                        </div>
                    </div>
                    <div class="img">
                        <div class="img-info">
                            <p>Titulo</p>
                            <div class="line"></div>
                            <p>Autor</p>
                            <p>Data</p>
                        </div>
                    </div>
                    <div class="img">
                        <div class="img-info">
                            <p>Titulo</p>
                            <div class="line"></div>
                            <p>Autor</p>
                            <p>Data</p>
                        </div>
                    </div>
                </div>
                <i class="fas fa-chevron-right slider-btn-right"></i>
            </div>
            <div class="slider-more">
                <a href="">Ver mais</a>
            </div>
        </div>
    </div>
    
    <script type="text/javascript" src="scriptHeader.js"></script>
    <script type="text/javascript" src="scriptMainPage.js"></script>
</body>
</html>