<% include partials/header %>

<div class="main">
    <div id="newArticle">
        <div class="container">
            <form id="articleForm" action="/articles" method="POST" enctype="multipart/form-data">
                <h1>Novo Artigo</h1>
                <label for="title">Título</label>
                <input maxlength="50" type="text" name="title" id="title" required>
                <label for="articleCover">Capa do Post <i class="fas fa-upload"></i></label>
                <p id="cover-img-name">Selecione uma imagem de capa (.jpg, .jpeg ou .png)</p>
                <input type="file" name="articleCover" id="articleCover" accept="image/jpg" required style="display: none;">
                <textarea name="articleBody" id="articleBody" style="display: none;"></textarea>
                <% if(imgMessage && imgMessage.length > 0) { %>
                    <p class="flashMsg"> imagem no formato errado ou maior que 300Kb </p>
                <% } %>
                <div id="textEditor">
                    <div id="theRibbon">
                        <button type="button" id="boldButton" title="Negrito"><i class="fas fa-bold"></i></button>
                        <button type="button" id="italicButton" title="Italico"><i class="fas fa-italic"></i></button>
                        <button type="button" id="underlineButton" title="Sublinhado"><i class="fas fa-underline"></i></button>
                        <button type="button" id="titleButton" title="Título"><i class="fas fa-heading"></i></button>
                        <button type="button" id="listButton" title="Lista"><i class="fas fa-list-ul"></i></button>
                        <button type="button" id="linkButton" title="Link"><i class="fas fa-link"></i></button>
                        <button type="button" id="imageButton" title="Imagem"><i class="fas fa-photo-video"></i></button>
                        <button type="button" id="subcriptButton" title="Subcript"><i class="fas fa-subscript"></i></button>
                        <button type="button" id="superscriptButton" title="Superscript"><i class="fas fa-superscript"></i></button>
                    </div>
                    <div id="textArea">
                        <iframe style="font-family: 'Nunito';" frameborder="0" id="iframe" name="iframe"></iframe>
                    </div>
                </div>
                
                <button id="submitBtn" type="submit">Enviar</button>
                
            </form>
        </div>
    </div>
    <% include partials/footer %>
</div>

<script type="text/javascript" src="/scripts/scriptHeader.js"></script>
<script>
    document.title = "Novo Artigo"
    const submitBtn = document.getElementById("submitBtn")
    const articleBody = document.getElementById("articleBody")
    const iframeBody = document.querySelector("iframe")
    const articleForm = document.getElementById("articleForm")
    const coverInput = document.getElementById("articleCover")
    const coverMsg = document.getElementById("cover-img-name")

    iframeBody.contentDocument.body.style.fontFamily = "'Open Sans', sans-serif"
    iframeBody.contentDocument.body.style.color = "rgb(52,52,52)"
    window.addEventListener("load", function(){
        function executeAction(command, firstParam, secondParam){
            editor.execCommand(command, firstParam, secondParam)
            iframeBody.contentDocument.body.focus()
        }
        function toggleStyle(target){
            target.style.filter = target.style.filter === "brightness(90%)" ? "brightness(100%)" : "brightness(90%)"
        }
        const editor = iframe.document
        editor.designMode = "on"

        boldButton.addEventListener("click", () => {
            executeAction("Bold", false, null)
            toggleStyle(boldButton)
        })
        italicButton.addEventListener("click", () => {
            executeAction("Italic", false, null)
            toggleStyle(italicButton)
        })
        underlineButton.addEventListener("click", () => {
            executeAction("underline", false, null)
            toggleStyle(underlineButton)
        })
        titleButton.addEventListener("click", () => {
            executeAction("formatBlock", false, "<h1>")
        })
        listButton.addEventListener("click", () => {
            executeAction("InsertUnorderedList", false, null)
        })
        linkButton.addEventListener("click", () => {
            const url = prompt("Digite uma URL (Lembre-se de selecionar o texto que quer transformar em URL)", "http://")
            executeAction("createLink", false, url)
        })
        imageButton.addEventListener("click", () => {
            const url = prompt("Digite a URL da imagem")
            executeAction("insertImage", false, url)
        })
        subcriptButton.addEventListener("click", () => {
            toggleStyle(subcriptButton)
            executeAction("subscript", false, null)
        })
        superscriptButton.addEventListener("click", () => {
            toggleStyle(superscriptButton)
            executeAction("superscript", false, null)
        })
    })

    submitBtn.onclick = (e) => {
        articleBody.innerHTML = iframeBody.contentDocument.body.innerHTML
        return true
    }

    coverInput.addEventListener("change", () => {
        let prov = coverInput.value;
        let def = []
        let cont = 0
        prov = prov.split('')
        for(let i = 0; i < prov.length; i++){
            if(prov[i] == "\\") cont++;
        }
        for(let i = 0; i < prov.length; i++){
            if(prov[i] == "\\") cont--;
            if(cont == 0) {
                def.push(prov[i])
            }
        }
        def.shift();
        def = def.join('')
        coverMsg.innerHTML = def
    })

    

</script>


</body>
</html>