<% include partials/header %>

<div class="main">
    <div class="password-main">
        <div class="password-box">
            
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
<script type="text/javascript" src="/scriptProfileThree.js"></script>
</body>
</html>