<% include partials/header %>

<div class="main">
    <div class="profileMain">
        <div class="profileLeft">
            <div class="profileContainer">
                <a href="/profile/info" class="yourInfo">Suas Informações</a>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <a href="/profile/payment" class="paymentMethods">Métodos de Pagamento</a>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <a href="/profile/buy-history" class="buyHistory">Histórico de Compras</a>
                <div class="info-active-bar"></div>
            </div>
        </div>
        <div class="profileRight">
            <div class="profileRight-box">
                <div class="profileRight-box-left">
                    <div class="box-photo">

                    </div>
                     <div class="deleteAcc changePhoto">
                         <a href="/profile/info/delete-account">MUDAR FOTO</a>
                     </div>
                     <div class="deleteAcc">
                         <form action="/users?_method=DELETE" method="POST">
                            <input type="text" name="email" value="edu_felip@hotmail.com" style="display: none;">
                             <button>DELETAR CONTA</button>
                         </form>
                     </div>
                </div>
                <div class="profileRight-box-right">
                    <form action="/users?_method=PUT" method="POST">
                        <div class="profile-container">
                            <p>NOME</p>
                            <span><p>Eduardo Felipe</p><i class="edit fas fa-pencil-alt"></i></span>
                            <input class="editField" type="text" name="name" value="Eduardo Felipe" maxlength="45">
                        </div>
                        <div class="profile-container">
                            <p class="exception">SEXO</p>
                            <span><p>Masculino</p><i class="edit fas fa-pencil-alt"></i></span>
                            <div class="sub-form">
                                <input class="radio-input mg-left" type="radio" name="gender" value="Male" checked>
                                <p>Masculino</p>
                                <input class="radio-input" type="radio" name="gender" value="Female">
                                <p>Feminino</p>
                            </div>
                        </div>
                        <div class="profile-container">
                            <p>TELEFONE</p>
                            <span><p>(21) 985670564</p><i class="edit fas fa-pencil-alt"></i></span>
                            <input class="editField" type="text" name="telephone" maxlength="14" value="(21) 985670564">
                        </div>
                        <div class="profile-container">
                            <p>NASCIMENTO</p>
                            <span><p>04/06/1998</p><i class="edit fas fa-pencil-alt"></i></span>
                            <input class="editField" type="text" name="birthday" maxlength="10" value="04/06/1998">
                        </div>
                        <div class="profile-container">
                            <p>E-MAIL</p>
                            <span><p>edu_felip@hotmail.com</p></span>
                            <input type="text" name="email" value="edu_felip@hotmail.com">
                        </div>
                        <div class="profile-container">
                            <a href="">MUDAR SENHA</a>
                        </div>
                        <div class="button-wrapper">
                            <button>SALVAR MUDANÇAS</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
<script type="text/javascript" src="/scriptProfileOne.js"></script>
</body>
</html>