<% include partials/header %>

<div class="main">
    <div class="profileMain">
        <div class="profileLeft">
            <div class="profileContainer">
                <p class="yourInfo">Suas Informações</p>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <p class="paymentMethods">Métodos de Pagamento</p>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <p class="buyHistory">Histórico de Compras</p>
                <div class="info-active-bar"></div>
            </div>
        </div>
        <div class="profileRight">

        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
<script type="text/javascript" src="/scriptProfile.js"></script>
</body>
</html>