<% include partials/header %>

<div class="main">
    <div class="password-main">
        <div class="password-box">
            <h2>Redefina sua senha</h2>
            <form action="/profile/password/edit" method="POST">
                <div class="sub-pass">
                    <p>Digite sua senha atual</p>
                    <input type="password" name="password" maxlength="20">
                </div>
                <div class="sub-pass">
                    <p>Digite a nova senha</p>
                    <input type="password" name="password" maxlength="20">
                </div>
                <div class="sub-pass">
                    <p>Digite novamente a nova senha</p>
                    <input type="password" name="password" maxlength="20">
                </div>
                <button>Confirmar</button>
            </form>
            <div class="recaptcha">

            </div>
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
<script type="text/javascript" src="/scriptProfileThree.js"></script>
</body>
</html>