<% include partials/header %>

<div class="main">
    <div class="profileMain">
        <div class="profileLeft">
            <div class="profileContainer">
                <a href="/profile/info" class="yourInfo">Suas Informações</a>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <a href="/profile/payment" class="paymentMethods">Métodos de Pagamento</a>
                <div class="info-active-bar"></div>
            </div>
            <div class="profileContainer">
                <a href="/profile/buy-history" class="buyHistory">Histórico de Compras</a>
                <div class="info-active-bar"></div>
            </div>
        </div>
        <div class="profileRight">

        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scripts/scriptHeader.js"></script>
<script type="text/javascript" src="/scripts/scriptProfileThree.js"></script>
</body>
</html>