<% include partials/header %>

<div class="main">
    <div class="password-main">
        <div class="password-box">
            <h2>Redefina sua senha</h2>
            <form action="/profile/password" method="POST">
                <div class="sub-pass">
                    <p>Senha atual</p>
                    <input class="passInput" type="password" name="oldPassword" maxlength="20">
                </div>
                <div class="sub-pass">
                    <p>Nova senha</p>
                    <input class="changePass passInput" type="password" name="newPassword" maxlength="20">
                </div>
                <div class="sub-pass">
                    <p>Nova senha novamente</p>
                    <input class="changePass passInput" type="password" name="newPasswordAgain" maxlength="20">
                </div>
                <button class="passBtn">Confirmar</button>
                <p class="errorMessage">message</p>
            </form>
            <div class="recaptcha">

            </div>
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
<script type="text/javascript" src="/scriptChangePass.js"></script>
</body>
</html>