<% include partials/header %>
<div class="main">
    <div class="register-main">
        <div class="register-main-container">
            <div class="register-main-sectionOne">
                <i class="far fa-moon"></i>
                <h2>Vamos começar!</h2>
                <p>Dê seu primeiro passo fazendo sua conta na EnglishMoon</p>
            </div>
            <div class="register-main-sectionTwo">
                <div class="register-success">
                    <h2>Parabéns</h2>
                    <p>Sua conta foi criada com sucesso</p>
                </div>
                <form action="/users" method="POST">
                    <div class="form-block">
                        <i class="fas fa-exclamation"></i>
                        <p>NOME</p>
                        <input class="input" type="text" name="name" placeholder="NOME" maxlength="45">
                    </div>
                    <div class="form-block">
                        <i class="fas fa-exclamation"></i>
                        <p>SEXO</p>
                        <div class="sub-form-block">
                            <input class="input" type="radio" name="gender" value="male">
                            <p>MASCULINO</p>
                            <input class="input" type="radio" name="gender" value="female">
                            <p>FEMININO</p>
                        </div>
                    </div>
                    <div class="form-block">
                        <i class="fas fa-exclamation"></i>
                        <p>NASCIMENTO</p>
                        <input class="input" id="birth" type="text" name="birthdate" placeholder="01/02/1980" maxlength="10">
                    </div>
                    <div class="form-block">
                        <i class="fas fa-exclamation"></i>
                        <p>TELEFONE</p>
                        <input class="input" id="field" type="text" name="telephone" placeholder="(99) 987651234" maxlength="14">
                    </div>
                    <div class="form-block">
                        <i class="fas fa-exclamation"></i>
                        <p>E-MAIL</p>
                        <input class="input" type="text" name="email" placeholder="E-MAIL" max="45">
                    </div>
                    <div class="form-block">
                        <i class="fas fa-exclamation"></i>
                        <p>SENHA</p>
                        <input class="input" type="password" name="password" placeholder="SUA SENHA" maxlength="20">
                    </div>
                    <input id="submitButton" type="submit" value="CADASTRAR">
                </form>
            </div>
        </div>
    </div>
    <% include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
<script type="text/javascript" src="/scriptAuth.js"></script>

</body>
</html>