<% include partials/header %>

<div class="main">
    <div class="newPass">
        <div class="newPassForm">
            <form action="/teste" method="POST">
                <input id="teste" type="text" value="teste" readonly disabled>
                <input type="password" placeholder="new Password">
                <input type="password" placeholder="repeat new Password">
                <button>VAI</button>
            </form>
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
</body>
</html>