<% include partials/header %>

<div class="main">
    <div class="newPass">
        <div class="newPassForm">
            <form id="reset-form" action="/reset_password?_method=PUT" method="POST">
                <h2>Estamos quase lá</h1>
                <input id="token" name="token" type="text" value="<%=token%>" readonly hidden>
                <p>Nova senha</p>
                <input class="type-pass" type="password" name="password" placeholder="Sua senha">
                <p>Nova senha novamente</p>
                <input class="type-pass-again" type="password" name="passwordAgain" placeholder="Repita sua senha">
                <button id="reset_btn">ENVIAR</button>
                <p class="reset_errorMsg"><%=message%></p>
                <p class="advice_msg">Recomendamos o uso de letras, números e caracteres especiais para uma maior segurança da sua conta</p>
            </form>
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scripts/scriptResetPass.js"></script>
<script type="text/javascript" src="/scripts/scriptHeader.js"></script>
</body>
</html>