<% include partials/header %>

<div class="main">
    <div class="newPass">
        <div class="newPassForm">
            <form action="" method="POST">
                <input type="text" style="display: none;">
                <input type="password" placeholder="new Password">
                <input type="password" placeholder="repeat new Password">
            </form>
        </div>
    </div>
    <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
</body>
</html>