<% include partials/header %>

<div class="main">
    <div class="constructionBody">
        <i class="fas fa-cogs"></i>
        <br>
        <h1>Under Construction</h1>
    </div>
    <% include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>

</body>
</html>