.header{
    top: var(--position-y);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 65px;
    width: 100%;
    position: fixed;
    border-bottom: 0.2px solid #00000025;
    box-shadow: 0 0 1px 0;
    background-color: white;
    z-index: 1;
    .drop-menu{
        position: absolute;
        left: -250px;
        width: 250px;
        height: 100vh;
        transition: all 0.3s ease;
        background-color: white;
        z-index: 3;
        .drop-menu-header{
            display: flex;
            align-items: center;
            height: 65px;
            width: 100%;
            i{
                position: relative;
                display: block;
                float: left;
                font-size: 20px;
                left: 30px;
                &:hover{
                    cursor: pointer;
                }
            }
            a{
                display: flex;
                align-items: center;
                position: relative;
                left: 45px;
                img{
                    height: 65px;
                }
            }
        }
        .drop-menu-line{
            height: 1px;
            width: 90%;
            background-color: rgba(0, 0, 0, 0.157);
            margin: 0 auto 10px auto;
        }
        .drop-menu-options{
            width: 100%;
            height: 100%;
            .drop-menu-options-sub{
                height: 0px;
                padding: 22px 30px;
                align-items: center;
            }
            i {
                font-size: 20px;
                color: $mainBlack;
            }
            a{
                display: block;
                width: 100px;
                margin: 0 0 0 40px;
                font-size: 16px;
                color: $mainBlack;
                text-decoration: none;
                margin-right: 20px;
                text-align: start;
                &:hover{
                    color: black;
                }
            }
        }
    }
    #dropmenu_mobile{
        visibility: hidden;
        display: none;
        left: 0;
    }
    .logo{
        width: 150px;
        margin-left: 60px;
        height: 100%;
        float: left;
        transition: opacity 0.3s linear;
        .container{
            padding: 0;
            justify-content: center;
            align-items: center;
            a{
                img{
                    height: 65px;
                    display: block;
                    margin: auto;
                }
            }
        }
        .hamb-bars{
            display: none;
            width: auto;
            margin: 0 10px 0 10px;
            i{
                font-size: 20px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .bar{
            display: block;
            width: 1.5px;
            height: 80%;
            background-color: rgba(0, 0, 0, 0.075);
            margin: auto 20px auto 0;
        }
    }
    .options{
        width: 320px;
        height: 100%;
        margin: 0;
        float: left;
        justify-content: flex-start;
        align-items: center;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-size: 15px;
                margin-left: 22px;
                display: inline;
                a{
                    transition: all 0.2s linear;
                    text-decoration: none;
                    color: $mainBlack;
                }
                .a-black{
                    color: black;
                }
                .line {
                    position: absolute;
                    width: 55px;
                    height: 1.5px;
                    transition: all 0.3s ease;
                    background: linear-gradient(to right, rgb(0,0,0) 50%, transparent 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    opacity: 0.6;
                }
                .lineone{
                    margin-left: 20px;
                }
                .linetwo {
                    margin-left: 94px;
                }
                .linethree {
                    margin-left: 165px;
                }
                .linefour {
                    margin-left: 244px;
                    width: 58px;
                }
                .lineOn {
                    background-position: left bottom;
                }
            }
        }
    }
    .log{
        width: 250px;
        height: 100%;
        margin: 0;
        float: right;
        align-items: center;
        justify-content: end;
        button, a {
            border: 0;
            height: 30px;
            width: 65px;
            border-radius: 5px;
            transition: all 0.2s ease-in;
            &:hover{
                cursor: pointer;
            }
        }
        button {
            margin: 0 5px 0 15px;
            background-color: transparent;
            color: $mainBlack;
            &:focus{
                outline: none;
            }
            &:hover{
                color: black;
            }
        }
        a {
            width: 85px;
            font-weight: 600;
            height: 35px;
            background-color: $hoverBlue;
            opacity: 0.8;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-decoration: none;
            font-size: 15px;
            &:focus{
                outline: none;
            }
            &:hover{
                background-color: $hoverBlue;
                opacity: 1;
                color: white;
            }
        }
        .loged-log{
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            p {
                color: $mainBlack;
                margin-right: 10px;
                font-weight: 300;
                span {
                    color: $hoverBlue;
                }
            }
            i {
                visibility: visible;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 26px;
                margin-right: 40px;
                height: 100%;
                width: 40px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
    .log2, .log2-loged{
        display: none;
        visibility: visible;
        opacity: 1;
    }
    .profile-opt{
        visibility: hidden;
        width: 200px;
        height: 120px;
        right: 50px;
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.4);
        position: absolute;
        top: 95%;
        a {
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            text-align: center;
            text-decoration: none;
            width: 100%;
            height: 35px;
            font-weight: 300;
            font-size: 12px;
            color: black;
            transition: all 0s ease;
            &:hover {
                background-color: whitesmoke;
            }
        }
        a:nth-of-type(1){
            margin-top: 5px;
        }
        a:nth-of-type(3){
            width: 40%;
            border-radius: 6px;
            border: 1px solid $mainRed;
            color: $mainRed;
            height: 25px;
            margin-top: 5px;
            &:hover {
                background-color: transparent;
            }
        }
    }
    .search{
        width: 335px;
        height: 100%;
        margin: 0;
        float: right;
        justify-content: flex-end;
        margin-right: 20px;
        form{
            display: block;
            margin: auto 0 auto 10px;
            input[type=text] {
                transition-property: background-color, border-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in;
                background-color: $mainColor;
                border: 0;
                width: 230px;
                border-radius: 8px 0 0 8px;
                height: 16px;
                padding: 8px;
                border: 1.5px solid transparent;
                &:focus {
                    outline: none;
                }
                &:focus{
                    background-color: white;
                    border-color: $mainBlue;
                }
            }
            button {
                box-sizing: border-box;
                transition: all 0.2s ease-in;
                background-color: rgb(214, 212, 212);
                border-radius: 0 8px 8px 0;
                border: 0;
                width: 40px;
                height: 35px;
                margin-left: -2px;
                &:focus{
                    outline: none;
                }
                i{
                    color: $mainBlue;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 184, 184);
                }
            }
        }
        .search-sup{
            display: none;
        }
    }
    .search-tiny{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s linear;
        form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            i {
                display: flex;
                width: 30px;
                font-size: 20px;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                }
            }
            input[type=text] {
                transition-property: background-color, border-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in;
                background-color: $mainColor;
                border: 0;
                width: 65vw;
                border-radius: 8px;
                height: 16px;
                padding: 8px;
                margin: 0 15px 0 10px;
                border: 1.5px solid transparent;
                &:focus {
                    outline: none;
                }
                &:focus{
                    background-color: white;
                    border-color: $mainBlue;
                }
            }
            button {
                border: 0;
                padding: 0;
                width: 20;
                height: 20;
                margin-top: 10px;
                background-color: transparent;
                transition-delay: 0.2s;
                opacity: 0;
                // width: 40px;
                // height: 35px;
                i {
                    display: block;
                    width: 35px;
                    font-size: 30px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }


    }
    .dropdown-aut{
        position: absolute;
        background-image: url(/../images/logback.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        visibility: hidden;
        opacity: 0;
        left: 20vw;
        top: 10vh;
        display: block;
        box-shadow: 1px 2px 7px 2px rgba(0,0,0,0.4);
        width: 60vw;
        height: 80vh;
        border-radius: 2px;
        z-index: 3;
        transition: opacity 0.2s linear;
        i {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 25px;
            &:hover{
                cursor: pointer;
            }
        }
        h2 {
            margin-top: 5vh;
            text-align: center;
        }
        p, h5 {
            text-align: center;
            width: 55%;
            display: block;
            margin: 0 auto;
            margin-top: 2vh;
            font-weight: 400;
            // font-size: 13px;
            color: rgba(0, 0, 0, 0.712);
        }
        h5 {
            color: $mainRed;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 15px;
        }
        .form-container{
            width: 270px;
            height: 60%;
            margin: 0 auto;
            form{
                h5 {
                    font-size: 12px;
                }
                input{
                    display: block;
                    height: 30px;
                    width: 100%;
                    margin: auto;
                    border: 1px solid rgba(0, 0, 0, 0.198);
                    border-radius: 4px;
                    padding: 0 8px;
                    font-size: 14px;
                }
                p{
                    display: block;
                    width: 100%;
                    text-align: start;
                    font-weight: 400;
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.712);
                }
                p:nth-of-type(3){
                    font-size: 14px;
                    a{
                        text-decoration: none;
                        transition: all 0.15s linear;
                        &:hover{
                            color: black;
                        }
                    }
                }
                p:nth-of-type(4){
                    text-align: center;
                    margin-bottom: 10px;
                }
                .signup {
                    margin: 10px 0 0 0;
                    a{
                        display: none;
                        background-color: white;
                        font-size: 15px;
                        width: 120px;
                        margin: 0 auto;
                        padding: 6px 0;
                        text-decoration: none;
                        text-align: center;
                        border: 1px solid rgba(0, 0, 134, 0.441);
                        color: $mainBlack;
                        border-radius: 4px;
                    }
                }
                .google-sign{
                    width: 120px;
                    height: 35px;
                    margin: 0 auto;
                    a {
                        display: flex;
                        width: 100%;
                        height: 100%;
                        align-items: center;
                        text-decoration: none;
                        box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.3);
                        transition: all 0.3s ease;
                        i {
                            top: 0;
                            left: 0;
                            position: relative;
                            font-size: 24px;
                            margin: 0 0 0 10px;
                            color: $mainRed;
                        }
                        p {
                            margin: 0 0 0 20px;
                            font-size: 14px;
                        }
                        &:hover{
                            box-shadow: 0px 0px 7px 1px rgba(84, 112, 177, 0.856);
                        }
                    }
                }
                button{
                    transition: all 0.2s linear;
                    display: block;
                    width: 120px;
                    border: 0;
                    border-radius: 4px;
                    padding: 8px 5px;
                    margin: 20px auto -5px auto;
                    background-color: $mainBlue;
                    color: white;
                    &:hover{
                        cursor: pointer;
                        background-color: $hoverBlue;
                    }
                }
                .google-sign {
                    width: 120px;

                }
            }
        }
    }    
}