.main {
    #newArticle{
        min-height: 90vh;
        background-color: rgba(245, 245, 245, 0.8);
        .container {
            width: 70%;
            height: 100%;
            margin: 0 auto;
            min-width: 700px;
            max-width: 800px;
            overflow: hidden;
            form {
                h1 {
                    font-family: "Nunito", sans-serif;
                    color: rgb(53, 53, 53);
                    font-weight: 700;
                    font-size: 40px;
                    margin-top: 20px;
                    margin-bottom: 10px;
                    position: relative;
                }
                label {
                    opacity: 0.7;
                    display: block;
                }
                p.flashMsg{
                    font-size: 13px;
                    color: red;
                    margin-bottom: 5px;
                }
                label[for="articleCover"]{
                    font-size: 15px;
                    margin: 10px 0 5px 0;
                    padding: 10px 10px;
                    background-color: rgb(59, 110, 79);
                    width: fit-content;
                    color: white;
                    border-radius: 6px;
                    opacity: 0.9;
                    i {
                        color: gainsboro;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
                #cover-img-name{
                    width: fit-content;
                    margin: 0 0 10px 0;
                    font-size: 13px;
                }
                input {
                    display: block;
                    margin: 10px 0;
                    border: 0;
                    border-bottom: 1px solid #00000050;
                    background-color: transparent;
                    margin-bottom: 20px;
                    width: 40%;
                    min-width: 400px;
                    transition: all 0.3s ease;
                    padding: 5px 2px;
                    &:focus{
                        outline: none;
                        border-bottom: 1px solid #00000090;
                    }
                }
                button[type="submit"] {
                    margin: 15px 0 35px 0;
                    padding: 5px 20px;
                    font-size: 16px;
                    background-color: rgb(59, 110, 79);
                    border: 0;
                    border-radius: 4px;
                    color: white;
                    opacity: 1;
                    &:hover {
                        cursor: pointer;
                    }
                }
                #textEditor{
                    #theRibbon{
                        button {
                            margin: 5px 0;
                        }
                        label{
                            width: 100%;
                            height: 100%;
                        }
                    }
                    #textArea{
                        iframe{
                            width: 95%;
                            background-color: white;    
                            min-height: 300px;
                            border: 1px solid #00000030;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}