.main {
    .password-main{
        height: 90vh;
        background-color:rgba(223, 223, 223, 0.4);
        display: flex;
        justify-content: center;
        .password-box{
            position: absolute;
            background-color: white;
            width: 40%;
            height: 300px;
            box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.4);
            margin-top: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2 {
                flex: 1;
                margin: 30px 0 0 0;
                font-weight: 600;
                font-family: 'Nunito';
            }
            form {
                flex: 5;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: start;
                margin-bottom: 30px;
                width: 60%;
                .sub-pass {
                    width: 100%;
                    input {
                        width: 100%;
                        border: 1px solid #00000030;
                        padding: 2px 0;
                        transition: all 0.3s ease;
                    }
                    p {
                        border: 4px 0 0 0;
                        color: black;
                        opacity: 0.8;
                        font-size: 14px;
                        font-family: 'Open Sans';
                        visibility: visible;
                    }
                    i {
                        margin-left: 2px;
                        color: $mainRed;
                        transition: all 0.3s ease;
                        opacity: 0;
                    }
                }
                button {
                    border: 0;
                    color: $hoverBlue;
                    background-color: transparent;
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 14px;
                    padding: 4px 3px;
                    &:hover {
                        cursor: pointer;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                p {
                    font-size: 14px;
                    color: $mainRed;
                    opacity: 0;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}