.main {
    .profileMain {
        width: 100%;
        height: 90vh;
        display: flex;
        .profileLeft {
            height: 100%;
            flex: 1;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 10px 0px 8px 0px rgba(0,0,0,0.75);
            .profileContainer{
                display: flex;
                align-items: center;
                width: 100%;
                height: 60px;
                border-bottom: 0.5px solid rgba(128, 128, 128, 0.6);
                &:hover {
                    cursor: pointer;
                    background-color: whitesmoke;
                }
                a {
                    opacity: 0.9;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    color: black;
                    font-size: 14px;
                    .info-bar{
                        height: 100%;
                        width: 2px;
                        background-color: $mainBlue;
                        right: 0;
                    }
                }
                .info-active-bar {
                    visibility: hidden;
                    display: block;
                    height: 100%;
                    width: 2px;
                    background-color: $mainBlue;
                }
            }
        }
        .profileRight{
            height: 100%;
            flex: 4;
            background-color: rgb(245, 245, 245);
            display: flex;
            justify-content: center;
            align-items: center;
            .profileRight-box{
                width: 800px;
                height: 475px;
                background-color: white;
                box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
                display: flex;
                .profileRight-box-left {
                    flex: 1;
                    border-right: 0.5px solid #00000060;
                    .box-photo{
                        width: 90%;
                        height: 40%;
                        margin: 10px auto 0 auto;
                        border: 1px solid #00000040;
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    form {
                        display: flex;
                        justify-content: center;
                        #file-select {
                            display: none;
                        }
                        label {
                            i {
                                color: white;
                            }
                            position: absolute;
                            font-size: 14px;
                            border: 1px solid #1a7897;
                            background-color:  #176e8b;
                            padding: 6px 18px 7px 19px;
                            margin-top: -35px;
                            font-family: 'Nunito';
                            color: white;
                            opacity: 0.2;
                            transition: all 0.4s ease;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                        p {
                            text-align: center;
                            font-size: 14px;
                            height: 14px;
                            opacity: 0.8;
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                    .btn-container {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-top: 10px;
                        button {
                            width: 50%;
                            border: 0;
                            border-bottom: 1px solid $hoverBlue;
                            opacity: 0;
                            visibility: hidden;
                            color: $hoverBlue;
                            transition: all 0.4s ease;
                            background: linear-gradient(to bottom, transparent 50%, $hoverBlue 50%);
                            background-size: 100% 200%;
                            background-position: right top;
                            &:hover {
                                cursor: pointer;
                                background-position: right bottom;
                                color: white;
                            }
                        }
                    }
                    h5 { 
                        font-family: 'Open Sans';
                        font-weight: 300;
                        font-size: 12px;
                        color: $mainRed;
                        width: 80%;
                        margin: 10px auto;
                    }
                    .deleteAcc{
                        position: relative;
                        display: flex;
                        width: 90%;
                        margin: 110px auto 0 auto;
                        height: 30px;
                        justify-content: center;
                        align-items: center;
                        button{
                            text-decoration: none;
                            color: $mainRed;
                            font-family: "Open Sans";
                            font-size: 12px;
                            font-weight: 300;
                            opacity: 1;
                            visibility: visible;
                            border: 0;
                            background-color: transparent;
                            border: 1px solid $mainRed;
                            transition: all 0.4s ease;
                            &:hover {
                                cursor: pointer;
                                background-color: $mainRed;
                                color: white;
                            }
                        }
                    }
                }
                .profileRight-box-right {
                    flex: 3;
                    display: flex;
                    justify-content: center;
                    form {
                        margin-top: 30px;
                        height: 85%;
                        width: 70%;
                        border-top: 1px solid #00000050;
                        border-bottom: 1px solid #00000050;
                        a {
                            text-decoration: none;
                            font-size: 14px;
                            color: $mainBlue;
                        }
                        .profile-container{
                            display: flex;
                            width: 80%;
                            margin: 0 auto;
                            margin-top: 30px;
                            a {
                                font-size: 12px;
                            }
                            p {
                                width: 130px;
                                height: 22px;
                                font-size: 12px;
                                opacity: 1;
                            }
                            span {
                                display: flex;
                                transition: all 0.3s ease;
                                p {
                                    width: 160px;
                                    opacity: 0.8;
                                }
                                i {
                                    &:hover {
                                        cursor: pointer;
                                    }
                                }
                            }
                            input[type=text]{
                                width: 180px;
                                height: 14px;
                                margin-left: 0px;
                            }
                            input {
                                display: none;
                            }
                            .sub-form{
                                display: none;
                                opacity: 0;
                                transition: all 0.3s ease;
                                p {
                                    margin-left: 10px;
                                    width: 65px;
                                    opacity: 0.8;
                                }
                            }
                        }
                        .button-wrapper {
                            width: 150px;
                            margin: 20px auto;
                            button {
                                background-color: transparent;
                                color: $hoverBlue;
                                border: 1px solid $hoverBlue;
                                height: 30px;
                                transition: all 0.4s ease;
                                &:hover {
                                    cursor: pointer;
                                    background-color: $hoverBlue;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}