#forgotMain{
    font-family: 'Nunito', sans-serif;
    height: 85vh;
    min-height: 530px;
    background-color: whitesmoke;
    .forgotBlock{
        background-color: white;
        height: 100%;
        width: 40%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        .forgotStatus{
            height: 6px;
            width: 70%;
            max-width: 415px;
            margin: 0px auto 10px auto;
            border-radius: 15px;
            background: linear-gradient(to right, rgb(25, 177, 25) 50%, rgb(233, 233, 233) 50%);
            background-size: 100% 100%;
            background-position: top left;
            transition: all 0.5s ease;
        }
        .forgotBlock__opacityBundle{
            opacity: 1;
            visibility: visible;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition-duration: 0.4s, 1s;
            transition-property: opacity, transform;
            transition-timing-function: ease;
            .alignCenter {
                display: block;
                width: auto;
                margin: 0 auto;
            }
            .forgotBlock__title{
                opacity: 0.8;
                margin-top: 20px;
                margin-bottom: 15px;
            }
            .forgotBlock__caption{
                opacity: 0.7;
                width: 300px;
                margin-bottom: 2px;
                text-align: start;
            }
            .forgotBlock__inputEmail{
                width: 286px;
                margin-left: 0px;
                border: 0;
                background-color: rgb(235, 235, 235);
                border-radius: 4px;
                padding: 2px;
                padding-left: 10px;
                padding-right: 10px;
                margin-bottom: 10px;
                height: 25px;
                transition: all 0.4s ease;
                outline: none;
                &:focus {
                    box-shadow: 0px 0px 1px 1px rgba(0, 0, 146, 0.7);
                    background-color: white;
                }
            }
            .forgotBlock__button{
                margin-top: 15px;
                color: white;
                border: 0;
                margin-bottom: 10px;
                border-radius: 6px;
                padding: 7px 35px;
                background-color: #3b6978e5;
                transition: all 0.3s ease;
                &:hover {
                    cursor: pointer;
                    background-color: #3b6978;
                }
            }
            .forgotBlock__load{
                display: none;
                margin-top: 15px;
                width: 45px;
                height: 42px;
                margin: 15px auto 0 auto;
                opacity: 0;
                justify-content: space-around;
                align-items: center;
                .load-element{
                    width: 7px;
                    border-radius: 50%;
                    height: 7px;
                    background-color: #3b6978;
                }
                .load-element:nth-of-type(1){
                    animation: loadFadeOne 1.2s infinite;
                }
                .load-element:nth-of-type(2){
                    animation: loadFadeTwo 1.2s infinite;
                }
                .load-element:nth-of-type(3){
                    animation: loadFadeThree 1.2s infinite;
                }
            }
            .forgotBlock__substring{
                font-size: 13px;
                opacity: 0.6;
                width: 300px;
                text-align: start;
                margin-top: 10px;
                margin-bottom: 60px;
            }
        }
        .forgotBlock__opacityBundle-success {
            display: flex;
            visibility: hidden;
            opacity: 0;
            position: absolute;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 445px;
            left: calc(50% - 220px);
            transform: translateX(150px);
            transition-duration: 0.6s, 1s;
            transition-property: opacity, transform;
            transition-timing-function: ease;
            overflow: hidden;
            .forgotBlock__doneTitle{
                opacity: 0.8;
            }
            .forgotBlock__doneMessage{
                margin: 10px 0 0 0;
                padding: 0 20px;
                text-align: center;
                opacity: 0.8;
                height: 84px;
            }
            .forgotBlock__links{
                margin: 10px 0 130px 0;
                width: 100%;
                display: flex;
                justify-content: center;
                .forgotBlock__donelink{
                    display: inline-block;
                    width: 110px;
                    text-decoration: none;
                    color:white;
                    background-color: #3b6978e5;
                    text-align: center;
                    margin: 15px 5px 0 0;
                    padding: 6px 0;
                    border-radius: 6px;
                    font-size: 13.5px;
                    transition: all 0.3s ease;
                    &:hover {
                        background-color: #3b6978;
                    }
                }
                .forgotBlock__donelink-modified{
                    background-color: $hoverBlue;
                    margin-left: 5px;
                    opacity: 0.85;
                    transition: all 0.3s ease;
                    &:hover{
                        opacity: 1;
                        background-color: $hoverBlue;
                    }
                }
            }
        }
    }
}

@keyframes loadFadeOne{
    0% {opacity: 1;}
    25% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes loadFadeTwo{
    25% {opacity: 1;}
    50% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes loadFadeThree{
    0% {opacity: 1;}
    50% {opacity: 1;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}