* {
  margin: 0;
  font-family: "Open Sans";
}

.flexOne {
  flex: 1;
}

.flexTwo {
  flex: 2;
}

.flex {
  display: flex;
}

i {
  color: rgba(0, 0, 0, 0.651);
}

.shadow {
  position: absolute;
  width: 100%;
  height: 2000px;
  background-color: #00000030;
  transition: opacity 0.3s linear;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.drop-translate {
  transform: translate3d(250px, 0, 0);
}

.search-translate {
  transform: translate3d(60px, 0, 0);
}

:root {
  --position-y: 0px;
  --slider-x: 0px;
}

.header {
  top: var(--position-y);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 65px;
  width: 100%;
  position: fixed;
  border-bottom: 0.2px solid #00000025;
  box-shadow: 0 0 1px 0;
  background-color: white;
  z-index: 1;
}
.header .drop-menu {
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100vh;
  transition: all 0.3s ease;
  background-color: white;
  z-index: 3;
}
.header .drop-menu .drop-menu-header {
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
}
.header .drop-menu .drop-menu-header i {
  position: relative;
  display: block;
  float: left;
  font-size: 20px;
  left: 30px;
}
.header .drop-menu .drop-menu-header i:hover {
  cursor: pointer;
}
.header .drop-menu .drop-menu-header a {
  display: flex;
  align-items: center;
  position: relative;
  left: 45px;
}
.header .drop-menu .drop-menu-header a img {
  height: 65px;
}
.header .drop-menu .drop-menu-line {
  height: 1px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.157);
  margin: 0 auto 10px auto;
}
.header .drop-menu .drop-menu-options {
  width: 100%;
  height: 100%;
}
.header .drop-menu .drop-menu-options .drop-menu-options-sub {
  height: 0px;
  padding: 22px 30px;
  align-items: center;
}
.header .drop-menu .drop-menu-options i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.651);
}
.header .drop-menu .drop-menu-options a {
  display: block;
  width: 100px;
  margin: 0 0 0 40px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  margin-right: 20px;
  text-align: start;
}
.header .drop-menu .drop-menu-options a:hover {
  color: black;
}
.header #dropmenu_mobile {
  visibility: hidden;
  display: none;
  left: 0;
}
.header .logo {
  width: 150px;
  margin-left: 60px;
  height: 100%;
  float: left;
  transition: opacity 0.3s linear;
}
.header .logo .container {
  padding: 0;
  justify-content: center;
  align-items: center;
}
.header .logo .container a img {
  height: 65px;
  display: block;
  margin: auto;
}
.header .logo .hamb-bars {
  display: none;
  width: auto;
  margin: 0 10px 0 10px;
}
.header .logo .hamb-bars i {
  font-size: 20px;
}
.header .logo .hamb-bars i:hover {
  cursor: pointer;
}
.header .logo .bar {
  display: block;
  width: 1.5px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.075);
  margin: auto 20px auto 0;
}
.header .options {
  width: 320px;
  height: 100%;
  margin: 0;
  float: left;
  justify-content: flex-start;
  align-items: center;
}
.header .options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .options ul li {
  font-size: 15px;
  margin-left: 22px;
  display: inline;
}
.header .options ul li a {
  transition: all 0.2s linear;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.651);
}
.header .options ul li .a-black {
  color: black;
}
.header .options ul li .line {
  position: absolute;
  width: 55px;
  height: 1.5px;
  transition: all 0.3s ease;
  background: linear-gradient(to right, black 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  opacity: 0.6;
}
.header .options ul li .lineone {
  margin-left: 20px;
}
.header .options ul li .linetwo {
  margin-left: 94px;
}
.header .options ul li .linethree {
  margin-left: 165px;
}
.header .options ul li .linefour {
  margin-left: 244px;
  width: 58px;
}
.header .options ul li .lineOn {
  background-position: left bottom;
}
.header .log {
  width: 250px;
  height: 100%;
  margin: 0;
  float: right;
  align-items: center;
  justify-content: end;
}
.header .log button {
  border: 0;
  height: 30px;
  width: 65px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}
.header .log button:hover {
  cursor: pointer;
}
.header .log button:nth-of-type(1) {
  margin: 0 5px 0 15px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.651);
}
.header .log button:nth-of-type(1):focus {
  outline: none;
}
.header .log button:nth-of-type(1):hover {
  color: black;
}
.header .log button:nth-of-type(2) {
  width: 85px;
  font-weight: 600;
  height: 35px;
  background-color: #3228c7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.header .log button:nth-of-type(2):focus {
  outline: none;
}
.header .log button:nth-of-type(2):hover {
  background-color: #110f8a;
  color: white;
}
.header .log2 {
  display: none;
  visibility: visible;
  opacity: 1;
}
.header .search {
  width: 335px;
  height: 100%;
  margin: 0;
  float: right;
  justify-content: flex-end;
  margin-right: 20px;
}
.header .search form {
  display: block;
  margin: auto 0 auto 10px;
}
.header .search form input[type=text] {
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  background-color: #f1f1f1;
  border: 0;
  width: 230px;
  border-radius: 8px 0 0 8px;
  height: 16px;
  padding: 8px;
  border: 1.5px solid transparent;
}
.header .search form input[type=text]:focus {
  outline: none;
}
.header .search form input[type=text]:focus {
  background-color: white;
  border-color: #3228c7;
}
.header .search form button {
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  background-color: #d6d4d4;
  border-radius: 0 8px 8px 0;
  border: 0;
  width: 40px;
  height: 35px;
  margin-left: -2px;
}
.header .search form button:focus {
  outline: none;
}
.header .search form button i {
  color: #3228c7;
}
.header .search form button:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}
.header .search .search-sup {
  display: none;
}
.header .search-tiny {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.3s linear;
}
.header .search-tiny form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .search-tiny form i {
  display: flex;
  width: 30px;
  font-size: 20px;
  justify-content: center;
}
.header .search-tiny form i:hover {
  cursor: pointer;
}
.header .search-tiny form input[type=text] {
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  background-color: #f1f1f1;
  border: 0;
  width: 65vw;
  border-radius: 8px;
  height: 16px;
  padding: 8px;
  margin: 0 15px 0 10px;
  border: 1.5px solid transparent;
}
.header .search-tiny form input[type=text]:focus {
  outline: none;
}
.header .search-tiny form input[type=text]:focus {
  background-color: white;
  border-color: #3228c7;
}
.header .search-tiny form button {
  border: 0;
  padding: 0;
  width: 20;
  height: 20;
  margin-top: 10px;
  background-color: transparent;
  transition-delay: 0.2s;
  opacity: 0;
}
.header .search-tiny form button i {
  display: block;
  width: 35px;
  font-size: 30px;
}
.header .search-tiny form button:hover {
  cursor: pointer;
}
.header .dropdown-aut {
  position: absolute;
  background-image: url(images/logback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  visibility: hidden;
  opacity: 0;
  left: 20vw;
  top: 10vh;
  display: block;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.4);
  width: 60vw;
  height: 80vh;
  border-radius: 2px;
  z-index: 3;
  transition: opacity 0.2s linear;
}
.header .dropdown-aut i {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 25px;
}
.header .dropdown-aut i:hover {
  cursor: pointer;
}
.header .dropdown-aut h2 {
  margin-top: 5vh;
  text-align: center;
}
.header .dropdown-aut p {
  text-align: center;
  width: 55%;
  display: block;
  margin: 0 auto;
  margin-top: 2vh;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.712);
}
.header .dropdown-aut .form-container {
  width: 270px;
  height: 60%;
  margin: 0 auto;
}
.header .dropdown-aut .form-container form input {
  display: block;
  height: 30px;
  width: 100%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.198);
  border-radius: 4px;
  padding: 0 8px;
  font-size: 14px;
}
.header .dropdown-aut .form-container form p {
  display: block;
  width: 100%;
  text-align: start;
  font-weight: 400;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.712);
}
.header .dropdown-aut .form-container form p:nth-of-type(3) {
  font-size: 14px;
}
.header .dropdown-aut .form-container form p:nth-of-type(3) a {
  text-decoration: none;
  transition: all 0.15s linear;
}
.header .dropdown-aut .form-container form p:nth-of-type(3) a:hover {
  color: black;
}
.header .dropdown-aut .form-container form p:nth-of-type(4) {
  text-align: center;
  margin-bottom: 10px;
}
.header .dropdown-aut .form-container form .signup {
  margin: 10px 0 0 0;
}
.header .dropdown-aut .form-container form .signup a {
  display: none;
  background-color: white;
  font-size: 15px;
  width: 120px;
  margin: 0 auto;
  padding: 6px 0;
  text-decoration: none;
  text-align: center;
  border: 1px solid rgba(0, 0, 134, 0.441);
  color: rgba(0, 0, 0, 0.651);
  border-radius: 4px;
}
.header .dropdown-aut .form-container form button {
  transition: all 0.2s linear;
  display: block;
  width: 120px;
  border: 0;
  border-radius: 4px;
  padding: 8px 5px;
  margin: 20px auto -5px auto;
  background-color: #3228c7;
  color: white;
}
.header .dropdown-aut .form-container form button:hover {
  cursor: pointer;
  background-color: #110f8a;
}
.header .dropdown-aut .form-container form .g-signin2 {
  display: flex;
  justify-content: center;
}

.main {
  position: relative;
  top: 65px;
  width: 100%;
  height: 100%;
}
.main .img-container {
  width: 100%;
  height: 90vh;
  background-image: url(/images/frame7.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5f0000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
}
.main .img-container main {
  grid-area: 1/1/2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .img-container main .container {
  margin-top: 30px;
  width: 80%;
  height: 70%;
}
.main .img-container main .container h1, .main .img-container main .container h2, .main .img-container main .container p, .main .img-container main .container a {
  text-align: center;
  position: relative;
  font-family: "Nunito";
  color: white;
  font-size: 52px;
  font-weight: 700px;
}
.main .img-container main .container h2 {
  top: -20px;
}
.main .img-container main .container p {
  display: block;
  margin: 0 auto;
  top: -5px;
  width: 650px;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}
.main .img-container main .container a {
  display: block;
  margin: 0 auto;
  width: 150px;
  top: 30px;
  box-sizing: border-box;
  border: 1px solid white;
  color: white;
  padding: 8px 12px;
  position: relative;
  font-size: 15px;
  font-weight: 300;
  font-family: "Open Sans";
  text-decoration: none;
  transition: all 0.6s ease;
  background: linear-gradient(to right, white 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
}
.main .img-container main .container a:hover {
  background-position: left bottom;
  color: black;
}
.main .img-container section {
  grid-area: 2/1/3/3;
}
.main .img-container section .social-container {
  position: relative;
  display: flex;
  width: 200px;
  height: 50px;
  margin: 0 auto 0 auto;
  justify-content: space-around;
}
.main .img-container section .social-container a {
  margin: 0 0 0 10px;
  color: transparent;
}
.main .img-container section .social-container a i {
  display: block;
  padding: 10px 20px;
  font-size: 35px;
  color: rgba(0, 0, 0, 0.794);
  transition: color 0.3s ease;
}
.main .img-container section .social-container a:nth-of-type(1) i:hover {
  color: #2424bb;
}
.main .img-container section .social-container a:nth-of-type(2) i:hover {
  color: #8a0958;
}
.main .img-container section .social-container a:nth-of-type(3) i:hover {
  color: #9c0000;
}
.main .articles {
  opacity: 0;
  transition: all 1.5s ease;
}
.main .articles .title {
  height: 80px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0;
  color: #313131;
}
.main .articles .title .line {
  width: 260px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.651);
  opacity: 0.6;
}
.main .articles .title h2 {
  padding: 0 10px;
  letter-spacing: 2px;
  color: rgba(0, 0, 0, 0.651);
}
.main .articles .slider {
  height: 270px;
  justify-content: center;
  align-items: center;
}
.main .articles .slider i {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  font-size: 25px;
  padding: 5px 5px 5px 7px;
  transition: all 0.3s linear;
}
.main .articles .slider i:hover {
  cursor: pointer;
}
.main .articles .slider i:nth-of-type(1) {
  margin-right: 20px;
  padding: 5px 7px 5px 5px;
  opacity: 0.4;
}
.main .articles .slider i:nth-of-type(2) {
  margin-left: 0px;
}
.main .articles .slider .slider-move {
  width: 1060px;
  height: 270px;
  overflow: hidden;
  display: flex;
  margin-right: 20px;
}
.main .articles .slider .slider-move .slider-out {
  width: 340px;
  height: 100%;
  margin-right: 20px;
  flex-shrink: 0;
  transform: translateX(var(--slider-x));
  transition: all 0.5s ease;
  overflow: hidden;
}
.main .articles .slider .slider-move .slider-out .img {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #c5c5c5;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
}
.main .articles .slider .slider-move .slider-out .img:hover {
  transform: scale(1.2);
}
.main .articles .slider .slider-move .slider-out .img-info {
  background-color: rgba(0, 0, 0, 0.438);
  height: 100%;
  width: 100%;
  position: relative;
  top: 200px;
}
.main .articles .slider .slider-move .slider-out .img-info p {
  font-family: "Nunito";
  color: #cfcfcf;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main .articles .slider .slider-move .slider-out .img-info p:nth-of-type(1) {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.main .articles .slider .slider-move .slider-out .img-info p:nth-of-type(2) {
  font-size: 14px;
  margin-top: 5px;
  text-align: center;
}
.main .articles .slider .slider-move .slider-out .img-info .line {
  width: 100px;
  height: 1px;
  background-color: black;
}
.main .articles .slider .slider-move .slider-out:hover {
  cursor: pointer;
}
.main .articles .slider-more {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .articles .slider-more a {
  height: 25px;
  font-family: "Open Sans";
  color: #3228c7;
  font-weight: 600;
  padding: 8px 10px 4px 10px;
  border: 1px solid #3228c7;
  border-radius: 4px;
  text-decoration: none;
  position: relative;
  float: right;
  transition: all 0.2s linear;
  margin-left: 970px;
}
.main .articles .slider-more a:hover {
  background-color: #3228c7;
  color: white;
}
.main .info {
  height: 400px;
  width: 100%;
  background-image: url(images/infoback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  justify-content: center;
  align-items: center;
}
.main .info .info-inside {
  height: 100%;
  width: 80%;
  justify-content: space-around;
  opacity: 0;
  transition: all 1.5s ease;
}
.main .info .info-inside .info-one {
  height: 100%;
  width: 30%;
  flex-direction: column;
}
.main .info .info-inside .info-one i {
  margin: 150px auto 10px auto;
  font-size: 50px;
  color: #151569;
}
.main .info .info-inside .info-one p {
  margin: 0 auto;
  font-family: "Nunito";
  color: #4d4d4d;
}
.main .info .info-inside .info-one p:nth-of-type(1) {
  font-weight: 700;
  font-size: 20px;
}
.main .info .info-inside .info-one p:nth-of-type(2) {
  margin-top: 10px;
  display: block;
  width: 80%;
  text-align: center;
}
.main .footer {
  height: 200px;
  background-color: #1d1e4e;
}
.main .footer .container {
  display: flex;
  width: 75vw;
  height: 100%;
  margin: auto;
  overflow: hidden;
}
.main .footer .container .footerlogo {
  width: 200px;
  height: 80%;
  margin: 20px 0 0 20px;
}
.main .footer .container .footerlogo a img {
  width: 150px;
  display: block;
  margin: 0 auto;
}
.main .footer .container .footerlogo .icons {
  width: 100px;
  height: 50px;
  margin: 10px auto 0 auto;
  justify-content: space-around;
}
.main .footer .container .footerlogo .icons i {
  color: #dddddd;
  font-size: 20px;
}
.main .footer .container .footerlist {
  width: 50vw;
  height: 100%;
  font-weight: 300;
}
.main .footer .container .footerlist ul {
  margin: 30px 0 0 20px;
}
.main .footer .container .footerlist ul li {
  display: inline-block;
}
.main .footer .container .footerlist ul li a {
  text-decoration: none;
  color: rgba(231, 231, 231, 0.836);
  margin-right: 2vw;
  font-size: 14px;
  transition: all 0.2s ease;
}
.main .footer .container .footerlist ul li a:hover {
  color: white;
}
.main .footer .container .footerlist p {
  position: relative;
  left: 40px;
  color: rgba(231, 231, 231, 0.836);
  font-size: 14px;
  margin: 5px 0 0 20px;
}
.main .footer .container .footerlist p:nth-of-type(1) {
  margin-top: 20px;
}
.main .footer .container .footerform form {
  width: 300px;
  height: 80%;
  margin: 20px 0 0 20px;
}
.main .footer .container .footerform form h2 {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.89);
  letter-spacing: 2px;
  text-align: center;
  margin-top: 30px;
}
.main .footer .container .footerform form input {
  margin-top: 20px;
  width: 300px;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  text-align: start;
  color: rgba(255, 255, 255, 0.89);
  letter-spacing: 1.5px;
}
.main .footer .container .footerform form input:focus {
  outline: none;
}
.main .footer .container .footerform form button {
  display: block;
  border: 0;
  background-color: #355EAE;
  width: 125px;
  height: 40px;
  margin: 15px auto 0 auto;
  color: white;
  font-weight: 700;
}
.main .footer .container .footerform form button:hover {
  cursor: pointer;
}

@media (max-width: 1160px) {
  .header .logo {
    flex: 1;
    margin: 0 0 0 15px;
  }
  .header .logo .hamb-bars {
    display: flex;
    margin: 0 15px 0 15px;
  }
  .header .options {
    display: none;
    flex: 0;
  }
  .header .search {
    justify-content: flex-end;
    margin-right: 20px;
    flex: 8;
  }

  .main .articles .slider .slider-move {
    width: 700px;
  }
  .main .articles .slider-more a {
    margin-left: 615px;
  }
}
@media (max-width: 1030px) {
  .main .info {
    background-image: none;
    background-color: #F2F2F2;
    height: 750px;
  }
  .main .info .info-inside {
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 90%;
    margin: auto;
  }
  .main .info .info-inside .info-one {
    height: 25%;
    width: 100%;
    flex-direction: column;
  }
  .main .info .info-inside .info-one i {
    margin: 0px auto 10px auto;
    font-size: 50px;
    color: #151569;
  }
  .main .info .info-inside .info-one p {
    margin: 0 auto;
    font-family: "Nunito";
    color: #4d4d4d;
  }
  .main .info .info-inside .info-one p:nth-of-type(1) {
    font-weight: 700;
    font-size: 20px;
  }
  .main .info .info-inside .info-one p:nth-of-type(2) {
    margin-top: 10px;
    display: block;
    max-width: 280px;
    text-align: center;
  }
}
@media (max-width: 830px) {
  .header .log {
    display: none;
  }
  .header .log2 {
    height: 100%;
    width: 50px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in;
  }
  .header .log2 i {
    margin: 0 10px 0 0;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.651);
  }
  .header .log2 i:hover {
    cursor: pointer;
  }
  .header .dropdown-aut .form-container form .signup a {
    display: block;
  }

  .main .img-container main .container p {
    width: 90%;
  }
  .main .articles .slider .slider-move {
    width: 340px;
  }
  .main .articles .slider-more a {
    margin-left: 255px;
  }
  .main .footer .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .main .footer .container .footerlogo {
    height: 60%;
    width: 100%;
    margin: 0;
  }
  .main .footer .container .footerlogo a img {
    margin-top: 10px;
  }
  .main .footer .container .footerlist {
    width: 100%;
    height: 40%;
  }
  .main .footer .container .footerlist ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    display: none;
  }
  .main .footer .container .footerlist p {
    left: 0;
    margin: 5px 0 0 0;
    width: 100%;
    text-align: center;
  }
  .main .footer .container .footerform {
    display: none;
  }
}
@media (max-width: 640px) {
  .main .img-container main .container h1, .main .img-container main .container h2 {
    font-size: 40px;
  }
  .main .img-container main .container h1 {
    top: -10px;
  }
  .main .img-container main .container p {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .header .search {
    width: 250px;
  }
  .header .search form input[type=text] {
    width: 165px;
  }
}
@media (max-width: 505px) {
  .main .img-container {
    height: 80vh;
    grid-template-rows: 3fr 1fr;
  }
  .main .img-container main {
    grid-area: 1/1/3/3;
  }
  .main .img-container main .container {
    margin-top: 60px;
  }
  .main .img-container main .container h1, .main .img-container main .container h2 {
    top: -10vh;
    font-size: 8vw;
  }
  .main .img-container main .container p {
    top: -8vh;
    width: 100%;
    font-size: 18px;
  }
  .main .img-container main .container a {
    top: -4vh;
    text-align: center;
    font-size: 16px;
    display: block;
    width: 65%;
    margin: 0 auto;
    font-weight: bold;
    border: 0;
    border-radius: 6px;
    background-color: #880000;
    color: white;
  }
  .main .articles .slider .slider-move {
    max-width: 100%;
  }
  .main .articles .slider .slider-move .slider-out {
    max-width: 100%;
  }
  .main .articles .slider .slider-move .slider-out .img-info p {
    margin: 0 auto;
    width: 90%;
  }
  .main .articles .slider-more a {
    margin: 0;
  }

  .header .shadow {
    display: none;
  }
  .header .search {
    width: 50px;
  }
  .header .search form {
    display: none;
  }
  .header .search form input[type=text] {
    display: none;
  }
  .header .search .search-sup {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
  }
  .header .search .search-sup i {
    font-size: 20px;
    margin-right: 10px;
  }
  .header .search .search-sup i:hover {
    cursor: pointer;
  }
  .header #dropmenu_mobile {
    display: block;
    width: 100%;
    transition: visibility 0.15s linear;
  }
  .header #dropmenu_mobile .drop-menu-line {
    margin: 0;
  }
  .header #dropmenu_mobile .drop-menu-options {
    background-color: #21282e;
    width: 100vw;
  }
  .header #dropmenu_mobile .drop-menu-options div {
    padding: 22px 0;
    justify-content: center;
    width: 100%;
    height: 25px;
    justify-content: center;
    border-width: 0px 0px 1px 0px;
    border-color: rgba(0, 0, 0, 0.651);
    border-style: solid;
  }
  .header #dropmenu_mobile .drop-menu-options div a {
    font-size: 16px;
    font-weight: 400;
    color: white;
  }
  .header #dropmenu_mobile .drop-menu-options div i {
    color: #3f4750;
    font-size: 25px;
  }
  .header #dropmenu_mobile .drop-menu-options div:nth-of-type(1) {
    border-width: 1px 0 1px 0;
  }
  .header #dropmenu_desk {
    visibility: hidden;
  }
}
@media (max-width: 305px) {
  .header .search {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
