$mainColor: rgb(241, 241, 241);
$mainBlue: rgb(50, 40, 199);
$hoverBlue: #110f8a;
$mainBlack: rgba(0, 0, 0, 0.651);

*{
    margin: 0;
    font-family: 'Open Sans';
}
.flexOne {
    flex: 1;
}
.flexTwo {
    flex: 2;
}
.flex {
    display: flex;
}
i{
    color: $mainBlack;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: #00000030;
    transition: opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.drop-translate{
    transform: translate3d(250px, 0, 0);
}
.search-translate{
    transform: translate3d(60px, 0, 0);
}

:root {
    --position-y: 0px;
}
.header{
    top: var(--position-y);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 65px;
    width: 100%;
    position: fixed;
    border-bottom: 0.2px solid #00000025;
    box-shadow: 0 0 1px 0;
    background-color: white;
    z-index: 1;
    // transition: all 0.2s ease-in;
    .drop-menu{
        position: absolute;
        left: -250px;
        width: 250px;
        height: 100vh;
        transition: all 0.2s ease-out;
        background-color: white;
        z-index: 3;
        .drop-menu-header{
            display: flex;
            align-items: center;
            height: 65px;
            width: 100%;
            i{
                position: relative;
                display: block;
                float: left;
                font-size: 20px;
                left: 30px;
                &:hover{
                    cursor: pointer;
                }
            }
            a{
                display: flex;
                align-items: center;
                position: relative;
                left: 45px;
                img{
                    height: 65px;
                }
            }
        }
        .drop-menu-line{
            height: 1px;
            width: 90%;
            background-color: rgba(0, 0, 0, 0.157);
            margin: 0 auto 10px auto;
        }
        .drop-menu-options{
            width: 100%;
            height: 100%;
            .drop-menu-options-sub{
                height: 0px;
                padding: 22px 30px;
                align-items: center;
            }
            i {
                font-size: 20px;
                color: $mainBlack;
            }
            a{
                display: block;
                width: 100px;
                margin: 0 0 0 40px;
                font-size: 16px;
                // font-weight: 400;
                color: $mainBlack;
                text-decoration: none;
                margin-right: 20px;
                text-align: start;
                &:hover{
                    color: black;
                }
            }
        }
    }
    #dropmenu_mobile{
        visibility: hidden;
        display: none;
        left: 0;
    }
    .logo{
        width: 150px;
        margin-left: 60px;
        height: 100%;
        float: left;
        transition: opacity 0.3s linear;
        .container{
            padding: 0;
            justify-content: center;
            align-items: center;
            a{
                img{
                    height: 65px;
                    display: block;
                    margin: auto;
                }
            }
        }
        .hamb-bars{
            display: none;
            width: auto;
            margin: 0 10px 0 10px;
            i{
                font-size: 20px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .bar{
            display: block;
            width: 1.5px;
            height: 80%;
            background-color: rgba(0, 0, 0, 0.075);
            margin: auto 20px auto 0;
        }
    }
    .options{
        width: 320px;
        height: 100%;
        margin: 0;
        float: left;
        justify-content: flex-start;
        align-items: center;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{                
                // ::-webkit-scrollbar{
                //     width: 6px;
                //     background-color: white;
                //     border-radius: 8px;
                // }
                // ::-webkit-scrollbar-thumb{
                //     border-radius: 10px;
                //     background-color: #a6a6a6;
                // }
                font-size: 15px;
                margin-left: 22px;
                display: inline;
                a{
                    transition: all 0.2s linear;
                    text-decoration: none;
                    color: $mainBlack;
                    &:hover {
                        color: black;
                    }
                }
                ul{
                    position: absolute;
                    display: none;
                    background-color: white;
                    margin: 12px 0 0 50px;
                    height: 400px;
                    width: 200px;
                    border-radius: 8px;
                    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
                    overflow: scroll;
                    overflow-x:hidden;
                    li{
                        margin: 0;
                        padding: 3px 0 3px 15px;
                        display: block;
                        a{
                            font-size: 15px;
                            font-weight: 400;
                        }
                        hr{
                            margin: 10px 0 5px -5px;
                            width: 120px;
                        }
                    }
                    li.main{
                        padding: 5px 0 5px 0;
                        text-align: center;
                        font-size: 14px;
                    }
                }                
                &:nth-of-type(2){
                    &:hover{
                        ul {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .log{
        width: 250px;
        height: 100%;
        margin: 0;
        float: right;
        align-items: center;
        justify-content: end;
        button {
            border: 0;
            height: 30px;
            width: 65px;
            border-radius: 12px;
            transition: all 0.2s ease-in;
            &:hover{
                cursor: pointer;
            }
            &:nth-of-type(1){
                margin: 0 5px 0 15px;
                background-color: transparent;
                color: $mainBlack;
                &:focus{
                    outline: none;
                }
                &:hover{
                    color: black;
                }
            }
            &:nth-of-type(2){
                width: 100px;
                font-weight: 600;
                height: 35px;
                background-color: $mainBlue;              
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: $hoverBlue;
                    color: white;
                }
            }
        }
    }
    .log2{
        display: none;
        visibility: visible;
        opacity: 1;
    }
    .search{
        width: 335px;
        height: 100%;
        margin: 0;
        float: right;
        justify-content: flex-end;
        margin-right: 20px;
        form{
            display: block;
            margin: auto 0 auto 10px;
            input[type=text] {
                transition-property: background-color, border-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in;
                background-color: $mainColor;
                border: 0;
                width: 230px;
                border-radius: 8px 0 0 8px;
                height: 16px;
                padding: 8px;
                border: 1.5px solid transparent;
                &:focus {
                    outline: none;
                }
                &:focus{
                    background-color: white;
                    border-color: $mainBlue;
                }
            }
            button {
                box-sizing: border-box;
                transition: all 0.2s ease-in;
                background-color: rgb(214, 212, 212);
                border-radius: 0 8px 8px 0;
                border: 0;
                width: 40px;
                height: 35px;
                margin-left: -2px;
                &:focus{
                    outline: none;
                }
                i{
                    color: $mainBlue;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 184, 184);
                }
            }
        }
        .search-sup{
            display: none;
        }
    }
    .search-tiny{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s linear;
        form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            i {
                display: flex;
                width: 30px;
                font-size: 20px;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                }
            }
            input[type=text] {
                transition-property: background-color, border-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in;
                background-color: $mainColor;
                border: 0;
                width: 65vw;
                border-radius: 8px;
                height: 16px;
                padding: 8px;
                margin: 0 15px 0 10px;
                border: 1.5px solid transparent;
                &:focus {
                    outline: none;
                }
                &:focus{
                    background-color: white;
                    border-color: $mainBlue;
                }
            }
            button {
                border: 0;
                padding: 0;
                width: 20;
                height: 20;
                margin-top: 10px;
                background-color: transparent;
                transition-delay: 0.2s;
                opacity: 0;
                // width: 40px;
                // height: 35px;
                i {
                    display: block;
                    width: 35px;
                    font-size: 30px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }


    }
    .dropdown-aut{
        visibility: hidden;
        opacity: 0;
        box-shadow: 1px 2px 7px 2px rgba(0,0,0,0.1);
        position: absolute;
        top: 60px;
        right: 100px;
        width: 200px;
        height: 200px;
        background-color: white;
        border-radius: 4px;
        transition: opacity 0.2s linear;
        form{
            input{
                display: block;
                height: 30px;
                width: 80%;
                margin: auto;
                border: 1px solid rgba(0, 0, 0, 0.198);
                border-radius: 4px;
                padding: 0 8px;
                font-size: 14px;
            }
            p{
                font-weight: 400;
                font-size: 15px;
                color: rgba(0, 0, 0, 0.712);
                margin: 10px 0 0 15px;
            }
            p:nth-of-type(3){
                font-size: 13px;
                margin: 0 0 0 40px;
                a{
                    text-decoration: none;
                    transition: all 0.15s linear;
                    &:hover{
                        color: black;
                    }
                }
            }
            p:nth-of-type(4){
                display: none;
            }
            button{
                transition: all 0.2s linear;
                display: block;
                width: 120px;
                border: 0;
                border-radius: 8px;
                padding: 5px;
                margin: 10px auto 0 auto;   
                background-color: $mainBlue;
                color: white;
                &:hover{
                    cursor: pointer;
                    background-color: $hoverBlue;
                }
            }
        }
    }    
}

.main {
    // display: none;
    position: relative;
    top: 65px;
    width: 100%;
    height: 2000px;
    background-color: white;
    z-index: 0;
}

@media (max-width: 1160px){
    .main{
        background-color: pink;
    }
    .header{
        .logo{
            flex: 1;
            margin: 0 0 0 15px;
            .hamb-bars{
                display: flex;
                margin: 0 15px 0 15px;
            }
        }
        .options{
            display: none;
            flex: 0;
        }
        .search{
            justify-content: flex-end;
            margin-right: 20px;
            flex: 8;
        }
    }
}

@media (max-width: 830px){
    .main{
        background-color: black;
    }
    .header{
        .log{
            display: none;
        }
        .log2{
            height: 100%;
            width: 50px;
            display: flex;
            float: right;
            justify-content: center;
            align-items: center;
            transition: opacity 0.2s ease-in;
            i{
                margin: 0 10px 0 0;
                font-size: 25px;
                color: $mainBlack;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .dropdown-aut{
            right: 20px;
            height: 210px;
            form{
                p:nth-of-type(4){
                    display: block;
                    width: 100px;
                    padding-top: 5px;
                    margin: auto;
                    text-align: center;
                    margin: 0 auto;
                    a{
                        font-size: 13px;
                        transition: all 0.15s linear;
                        text-decoration: none;
                        color:$mainBlack;
                        &:hover{
                            color: black;
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 600px){
    .main{
        background-color: white;
    }
    .header{
        .search{
            width: 250px;
            form{
                input[type=text]{
                    width: 165px;
                }
            }
        }
    }
}

@media (max-width: 505px){
    .main{
        background-color: yellow;
    }
    .header{
        .shadow {
            display: none;
        }
        .search{
            width: 50px;
            form{
                display: none;
                input[type=text]{
                    display: none;
                }
            }
            .search-sup{
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.2s ease-in;
                i{
                    font-size: 20px;
                    margin-right: 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        #dropmenu_mobile{
            display: block;
            width: 100%;
            transition: visibility 0.15s linear;
            .drop-menu-line{
                margin: 0;
            }
            .drop-menu-options{
                background-color: rgb(33, 40, 46);
                div {
                    padding: 22px 0;
                    justify-content: center;
                    width: 100%;
                    height: 25px;
                    justify-content: center;
                    border-width: 0px 0px 1px 0px;
                    border-color: $mainBlack;
                    border-style: solid;
                    a {
                        font-size: 16px;
                        font-weight: 400;
                        color: white;
                    }
                    i{
                        color: #3f4750;
                        font-size: 25px;
                    }
                }
                div:nth-of-type(1){
                    border-width: 1px 0 1px 0;
                }
            }
        }
        #dropmenu_desk{
            visibility: hidden;
        }
    }
}

@media (max-width: 305px){
    .header{
        .search{
            display: none;
        }
    }
}