$mainColor: rgb(241, 241, 241);
$mainBlue: rgb(50, 40, 199);
$hoverBlue: #110f8a;
$mainBlack: rgba(0, 0, 0, 0.651);

*{
    margin: 0;
    font-family: 'Open Sans';
}
.flexOne {
    flex: 1;
}
.flexTwo {
    flex: 2;
}
.flex {
    display: flex;
}
i{
    color: $mainBlack;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 2000px;
    background-color: #00000030;
    transition: opacity 0.3s linear;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
}
.drop-translate{
    transform: translate3d(250px, 0, 0);
}
.search-translate{
    transform: translate3d(60px, 0, 0);
}

:root {
    --position-y: 0px;
    --slider-x: 0px;
}
.header{
    top: var(--position-y);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    height: 65px;
    width: 100%;
    position: fixed;
    border-bottom: 0.2px solid #00000025;
    box-shadow: 0 0 1px 0;
    background-color: white;
    z-index: 1;
    // transition: all 0.2s ease-in;
    .drop-menu{
        position: absolute;
        left: -250px;
        width: 250px;
        height: 100vh;
        transition: all 0.3s ease;
        background-color: white;
        z-index: 3;
        .drop-menu-header{
            display: flex;
            align-items: center;
            height: 65px;
            width: 100%;
            i{
                position: relative;
                display: block;
                float: left;
                font-size: 20px;
                left: 30px;
                &:hover{
                    cursor: pointer;
                }
            }
            a{
                display: flex;
                align-items: center;
                position: relative;
                left: 45px;
                img{
                    height: 65px;
                }
            }
        }
        .drop-menu-line{
            height: 1px;
            width: 90%;
            background-color: rgba(0, 0, 0, 0.157);
            margin: 0 auto 10px auto;
        }
        .drop-menu-options{
            width: 100%;
            height: 100%;
            .drop-menu-options-sub{
                height: 0px;
                padding: 22px 30px;
                align-items: center;
            }
            i {
                font-size: 20px;
                color: $mainBlack;
            }
            a{
                display: block;
                width: 100px;
                margin: 0 0 0 40px;
                font-size: 16px;
                color: $mainBlack;
                text-decoration: none;
                margin-right: 20px;
                text-align: start;
                &:hover{
                    color: black;
                }
            }
        }
    }
    #dropmenu_mobile{
        visibility: hidden;
        display: none;
        left: 0;
    }
    .logo{
        width: 150px;
        margin-left: 60px;
        height: 100%;
        float: left;
        transition: opacity 0.3s linear;
        .container{
            padding: 0;
            justify-content: center;
            align-items: center;
            a{
                img{
                    height: 65px;
                    display: block;
                    margin: auto;
                }
            }
        }
        .hamb-bars{
            display: none;
            width: auto;
            margin: 0 10px 0 10px;
            i{
                font-size: 20px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .bar{
            display: block;
            width: 1.5px;
            height: 80%;
            background-color: rgba(0, 0, 0, 0.075);
            margin: auto 20px auto 0;
        }
    }
    .options{
        width: 320px;
        height: 100%;
        margin: 0;
        float: left;
        justify-content: flex-start;
        align-items: center;
        ul{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                font-size: 15px;
                margin-left: 22px;
                display: inline;
                a{
                    transition: all 0.2s linear;
                    text-decoration: none;
                    color: $mainBlack;
                }
                .a-black{
                    color: black;
                }
                .line {
                    position: absolute;
                    width: 55px;
                    height: 1.5px;
                    transition: all 0.3s ease;
                    background: linear-gradient(to right, rgb(0,0,0) 50%, transparent 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    opacity: 0.6;
                }
                .lineone{
                    margin-left: 20px;
                }
                .linetwo {
                    margin-left: 94px;
                }
                .linethree {
                    margin-left: 165px;
                }
                .linefour {
                    margin-left: 244px;
                    width: 58px;
                }
                .lineOn {
                    background-position: left bottom;
                }
            }
        }
    }
    .log{
        width: 250px;
        height: 100%;
        margin: 0;
        float: right;
        align-items: center;
        justify-content: end;
        button {
            border: 0;
            height: 30px;
            width: 65px;
            border-radius: 5px;
            transition: all 0.2s ease-in;
            &:hover{
                cursor: pointer;
            }
            &:nth-of-type(1){
                margin: 0 5px 0 15px;
                background-color: transparent;
                color: $mainBlack;
                &:focus{
                    outline: none;
                }
                &:hover{
                    color: black;
                }
            }
            &:nth-of-type(2){
                width: 85px;
                font-weight: 600;
                height: 35px;
                background-color: $mainBlue;              
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                &:focus{
                    outline: none;
                }
                &:hover{
                    background-color: $hoverBlue;
                    color: white;
                }
            }
        }
    }
    .log2{
        display: none;
        visibility: visible;
        opacity: 1;
    }
    .search{
        width: 335px;
        height: 100%;
        margin: 0;
        float: right;
        justify-content: flex-end;
        margin-right: 20px;
        form{
            display: block;
            margin: auto 0 auto 10px;
            input[type=text] {
                transition-property: background-color, border-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in;
                background-color: $mainColor;
                border: 0;
                width: 230px;
                border-radius: 8px 0 0 8px;
                height: 16px;
                padding: 8px;
                border: 1.5px solid transparent;
                &:focus {
                    outline: none;
                }
                &:focus{
                    background-color: white;
                    border-color: $mainBlue;
                }
            }
            button {
                box-sizing: border-box;
                transition: all 0.2s ease-in;
                background-color: rgb(214, 212, 212);
                border-radius: 0 8px 8px 0;
                border: 0;
                width: 40px;
                height: 35px;
                margin-left: -2px;
                &:focus{
                    outline: none;
                }
                i{
                    color: $mainBlue;
                }
                &:hover{
                    cursor: pointer;
                    background-color: rgb(184, 184, 184);
                }
            }
        }
        .search-sup{
            display: none;
        }
    }
    .search-tiny{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.3s linear;
        form {
            display: flex;
            justify-content: space-around;
            align-items: center;
            i {
                display: flex;
                width: 30px;
                font-size: 20px;
                justify-content: center;
                &:hover {
                    cursor: pointer;
                }
            }
            input[type=text] {
                transition-property: background-color, border-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in;
                background-color: $mainColor;
                border: 0;
                width: 65vw;
                border-radius: 8px;
                height: 16px;
                padding: 8px;
                margin: 0 15px 0 10px;
                border: 1.5px solid transparent;
                &:focus {
                    outline: none;
                }
                &:focus{
                    background-color: white;
                    border-color: $mainBlue;
                }
            }
            button {
                border: 0;
                padding: 0;
                width: 20;
                height: 20;
                margin-top: 10px;
                background-color: transparent;
                transition-delay: 0.2s;
                opacity: 0;
                // width: 40px;
                // height: 35px;
                i {
                    display: block;
                    width: 35px;
                    font-size: 30px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }


    }
    .dropdown-aut{
        position: absolute;
        background-image: url(images/logback.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center ;
        visibility: hidden;
        opacity: 0;
        left: 20vw;
        top: 10vh;
        display: block;
        box-shadow: 1px 2px 7px 2px rgba(0,0,0,0.4);
        width: 60vw;
        height: 80vh;
        border-radius: 2px;
        z-index: 3;
        transition: opacity 0.2s linear;
        i {
            position: absolute;
            top: 20px;
            left: 20px;
            font-size: 25px;
            &:hover{
                cursor: pointer;
            }
        }
        h2 {
            margin-top: 5vh;
            text-align: center;
        }
        p {
            text-align: center;
            width: 55%;
            display: block;
            margin: 0 auto;
            margin-top: 2vh;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.712);
        }
        .form-container{
            width: 270px;
            height: 60%;
            margin: 0 auto;
            form{
                input{
                    display: block;
                    height: 30px;
                    width: 100%;
                    margin: auto;
                    border: 1px solid rgba(0, 0, 0, 0.198);
                    border-radius: 4px;
                    padding: 0 8px;
                    font-size: 14px;
                }
                p{
                    display: block;
                    width: 100%;
                    text-align: start;
                    font-weight: 400;
                    font-size: 15px;
                    color: rgba(0, 0, 0, 0.712);
                }
                p:nth-of-type(3){
                    font-size: 14px;
                    a{
                        text-decoration: none;
                        transition: all 0.15s linear;
                        &:hover{
                            color: black;
                        }
                    }
                }
                p:nth-of-type(4){
                    text-align: center;
                    margin-bottom: 10px;
                }
                .signup {
                    margin: 10px 0 0 0;
                    a{
                        display: none;
                        background-color: white;
                        font-size: 15px;
                        width: 120px;
                        margin: 0 auto;
                        padding: 6px 0;
                        text-decoration: none;
                        text-align: center;
                        border: 1px solid rgba(0, 0, 134, 0.441);
                        color: $mainBlack;
                        border-radius: 4px;
                    }
                }
                button{
                    transition: all 0.2s linear;
                    display: block;
                    width: 120px;
                    border: 0;
                    border-radius: 4px;
                    padding: 8px 5px;
                    margin: 20px auto -5px auto;
                    background-color: $mainBlue;
                    color: white;
                    &:hover{
                        cursor: pointer;
                        background-color: $hoverBlue;
                    }
                }
                .g-signin2 {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }    
}
.main {
    position: relative;
    top: 65px;
    width: 100%;
    height: 2000px;
    .img-container {
        width: 100%;
        height: 90vh;
        background-image: url(/images/frame7.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(95, 0, 0);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        main{
            grid-area: 1 / 1 / 2 / 3;
            display: flex;
            justify-content: center;
            align-items: center;
            .container{
                margin-top: 30px;
                width: 80%;
                height: 70%;
                h1, h2, p, a {
                    text-align: center;
                    position: relative;
                    font-family: "Nunito";
                    color: white;
                    font-size: 52px;
                    font-weight: 700px;
                }
                h2 {
                    top: -20px;
                }
                p {
                    display: block;
                    margin: 0 auto;
                    top: -5px;
                    width: 650px;
                    font-size: 22px;
                    font-weight: 300;
                    letter-spacing: 1px;
                }
                a {
                    display: block;
                    margin: 0 auto;
                    width: 150px;
                    top: 30px;
                    box-sizing: border-box;
                    border: 1px solid white;
                    color: white;
                    padding: 8px 12px;
                    position: relative;
                    font-size: 15px;
                    font-weight: 300;
                    font-family: "Open Sans";
                    text-decoration: none;
                    transition: all 0.6s ease;
                    background: linear-gradient(to right, white 50%, transparent 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    &:hover{
                        background-position: left bottom;
                        color: black;
                    }
                }
            }
        }
        section{
            grid-area: 2 / 1 / 3 / 3;
            .social-container {
                position: relative;
                display: flex;
                width: 200px;
                height: 50px;
                margin: 0 auto 0 auto;
                justify-content: space-around;
                a {
                    margin: 0 0 0 10px;
                    color: transparent;
                    i{
                        display: block;
                        padding: 10px 20px;
                        font-size: 35px;
                        color: rgba(0, 0, 0, 0.794);
                        transition: color 0.3s ease;
                    }
                }
                a:nth-of-type(1){
                    i:hover{
                        color: rgb(36, 36, 187);
                    }
                }
                a:nth-of-type(2){
                    i:hover{
                        color: rgb(138, 9, 88);
                    }
                }
                a:nth-of-type(3){
                    i:hover{
                        color: rgb(156, 0, 0);
                    }
                }
            }
        }
    }
    .articles {
        .title {
            height: 80px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 10px 0;
            color: rgb(49, 49, 49);
            transition: all 0.3s ease-in;
            .line {
                width: 280px;
                height: 1px;
                background-color: $mainBlack;
                opacity: 0.4;
            }
            h2 {
                padding: 0 10px;
                letter-spacing: 2px;
                color: $mainBlack;
            }
        }
        .slider {
            height: 270px;
            justify-content: center;
            align-items: center;
            i {
                // margin-left: 40px;
                font-size: 30px;
                transition: all 0.3s linear;
                &:hover {
                    cursor: pointer;
                }
            }
            .slider-move{
                width: 1100px;
                height: 270px;
                overflow: hidden;
                display: flex;
                margin-right: 20px;
                .img {
                    width: 330px;
                    height: 100%;
                    margin: 0 20px;
                    background-color: rgb(197, 197, 197);
                    flex-shrink: 0;
                    transform: translateX(var(--slider-x));
                    transition: all 0.5s ease;
                    .img-info {
                        .line{
                            width: 100px;
                            height: 1px;
                            background-color: black;
                        }
                        position: relative;
                        top: 150px;
                    }
                }
            }
        }
        .slider-more {
            height: 100px;
            a {
                font-family: "Open Sans";
                color: rgb(0, 0, 119);
                font-weight: 600;
                padding: 2px 10px;
                border: 1px solid rgb(0, 0, 119);
                text-decoration: none;
                position: relative;
                float: right;
                top: 10px;
                right: 185px;
                transition: all 0.2s linear;
                &:hover{
                    background-color: rgb(0, 0, 119);
                    color: white;
                }
            }
        }
    }
}

@media (max-width: 1160px){
    .main{
        background-color: pink;
    }
    .header{
        .logo{
            flex: 1;
            margin: 0 0 0 15px;
            .hamb-bars{
                display: flex;
                margin: 0 15px 0 15px;
            }
        }
        .options{
            display: none;
            flex: 0;
        }
        .search{
            justify-content: flex-end;
            margin-right: 20px;
            flex: 8;
        }
    }
}

@media (max-width: 860px){
    .main {
        .img-container{
            
        }
    }
}

@media (max-width: 830px){
    .header{
        .log{
            display: none;
        }
        .log2{
            height: 100%;
            width: 50px;
            display: flex;
            float: right;
            justify-content: center;
            align-items: center;
            transition: opacity 0.2s ease-in;
            i{
                margin: 0 10px 0 0;
                font-size: 25px;
                color: $mainBlack;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .dropdown-aut {
            .form-container {
                form {
                    .signup{
                        a {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .main {
        .img-container{
            main {
                .container{
                    p {
                        width: 90%;
                    }
                }
            }
        }
    }
}
@media (max-width: 640px){
    .main {
        .img-container{
            main {
                .container{
                    h1, h2 {
                        font-size: 40px;
                    }
                    h1 {
                        top: -10px;
                    }
                    p {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 600px){
    .main{
        background-color: white;
    }
    .header{
        .search{
            width: 250px;
            form{
                input[type=text]{
                    width: 165px;
                }
            }
        }
    }
    .main {
        .img-container {
            
        }
    }
}

@media (max-width: 505px){
    .main{
        background-color: yellow;
        .img-container{
            height: 80vh;
            grid-template-rows: 3fr 1fr;
            main {
                grid-area: 1 / 1 / 3 / 3;
                .container {
                    margin-top: 60px;
                    h1, h2 {
                        top: -10vh;
                        font-size: 8vw;
                    }
                    p {
                        top: -8vh;
                        width: 100%;
                        font-size: 18px;
                    }
                    a {
                        top: -4vh;
                        text-align: center;
                        font-size: 16px;
                        display: block;
                        width: 65%;
                        margin: 0 auto;
                        font-weight: bold;
                        border: 0;
                        border-radius: 6px;
                        background-color: rgb(136, 0, 0);
                        color: rgb(255, 255, 255);
                    }
                }
            }
        }
    }
    .header{
        .shadow {
            display: none;
        }
        .search{
            width: 50px;
            form{
                display: none;
                input[type=text]{
                    display: none;
                }
            }
            .search-sup{
                display: flex;
                justify-content: center;
                align-items: center;
                transition: all 0.2s ease-in;
                i{
                    font-size: 20px;
                    margin-right: 10px;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        #dropmenu_mobile{
            display: block;
            width: 100%;
            transition: visibility 0.15s linear;
            .drop-menu-line{
                margin: 0;
            }
            .drop-menu-options{
                background-color: rgb(33, 40, 46);
                width: 100vw;
                div {
                    padding: 22px 0;
                    justify-content: center;
                    width: 100%;
                    height: 25px;
                    justify-content: center;
                    border-width: 0px 0px 1px 0px;
                    border-color: $mainBlack;
                    border-style: solid;
                    a {
                        font-size: 16px;
                        font-weight: 400;
                        color: white;
                    }
                    i{
                        color: #3f4750;
                        font-size: 25px;
                    }
                }
                div:nth-of-type(1){
                    border-width: 1px 0 1px 0;
                }
            }
        }
        #dropmenu_desk{
            visibility: hidden;
        }
    }
}

@media (max-width: 305px){
    .header{
        .search{
            display: none;
        }
    }
}