* {
  margin: 0;
  font-family: "Open Sans";
}

.flexOne {
  flex: 1;
}

.flexTwo {
  flex: 2;
}

.flex {
  display: flex;
}

i {
  color: rgba(0, 0, 0, 0.651);
}

.shadow {
  position: absolute;
  width: 100%;
  height: 2000px;
  background-color: #00000030;
  transition: opacity 0.3s linear;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
}

.drop-translate {
  transform: translate3d(250px, 0, 0);
}

.header {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  height: 65px;
  width: 100%;
  position: fixed;
  border-bottom: 0.2px solid #00000025;
  box-shadow: 0 0 1px 0;
  background-color: white;
  z-index: 1;
}
.header .drop-menu {
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100vh;
  transition: all 0.2s ease-out;
  background-color: white;
  z-index: 3;
}
.header .drop-menu .drop-menu-header {
  display: flex;
  align-items: center;
  height: 65px;
  width: 100%;
}
.header .drop-menu .drop-menu-header i {
  position: relative;
  display: block;
  float: left;
  font-size: 20px;
  left: 30px;
}
.header .drop-menu .drop-menu-header i:hover {
  cursor: pointer;
}
.header .drop-menu .drop-menu-header a {
  position: relative;
  left: 50px;
}
.header .drop-menu .drop-menu-header a img {
  height: 65px;
}
.header .drop-menu .drop-menu-line {
  height: 1px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.157);
  margin: 0 auto 10px auto;
}
.header .drop-menu .drop-menu-options {
  width: 100%;
  height: 100%;
}
.header .drop-menu .drop-menu-options .drop-menu-options-sub {
  height: 0px;
  padding: 22px 30px;
  align-items: center;
}
.header .drop-menu .drop-menu-options i {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.651);
}
.header .drop-menu .drop-menu-options a {
  display: block;
  width: 100px;
  margin: 0 0 0 40px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.651);
  text-decoration: none;
  margin-right: 20px;
  text-align: start;
}
.header .drop-menu .drop-menu-options a:hover {
  color: black;
}
.header .logo {
  width: 150px;
  margin-left: 60px;
  height: 100%;
  float: left;
}
.header .logo .container {
  padding: 0;
  justify-content: center;
  align-items: center;
}
.header .logo .container a img {
  height: 65px;
  display: block;
  margin: auto;
}
.header .logo .hamb-bars {
  display: none;
  width: auto;
  margin: 0 10px 0 10px;
}
.header .logo .hamb-bars i {
  font-size: 20px;
}
.header .logo .hamb-bars i:hover {
  cursor: pointer;
}
.header .logo .bar {
  display: block;
  width: 1.5px;
  height: 80%;
  background-color: rgba(0, 0, 0, 0.144);
  margin: auto 20px auto 0;
}
.header .options {
  width: 320px;
  height: 100%;
  margin: 0;
  float: left;
  justify-content: flex-start;
  align-items: center;
}
.header .options ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.header .options ul li {
  font-size: 15px;
  margin-left: 22px;
  display: inline;
}
.header .options ul li a {
  transition: all 0.2s linear;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.651);
}
.header .options ul li a:hover {
  color: black;
}
.header .options ul li ul {
  position: absolute;
  display: none;
  background-color: white;
  margin: 12px 0 0 50px;
  height: 400px;
  width: 200px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
  overflow: scroll;
  overflow-x: hidden;
}
.header .options ul li ul li {
  margin: 0;
  padding: 3px 0 3px 15px;
  display: block;
}
.header .options ul li ul li a {
  font-size: 15px;
  font-weight: 400;
}
.header .options ul li ul li hr {
  margin: 10px 0 5px -5px;
  width: 120px;
}
.header .options ul li ul li.main {
  padding: 5px 0 5px 0;
  text-align: center;
  font-size: 14px;
}
.header .options ul li:nth-of-type(2):hover ul {
  display: block;
}
.header .log {
  width: 250px;
  height: 100%;
  margin: 0;
  float: right;
  align-items: center;
  justify-content: end;
}
.header .log button {
  border: 0;
  height: 30px;
  width: 65px;
  border-radius: 12px;
  transition: all 0.2s ease-in;
}
.header .log button:hover {
  cursor: pointer;
}
.header .log button:nth-of-type(1) {
  margin: 0 5px 0 15px;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.651);
}
.header .log button:nth-of-type(1):focus {
  outline: none;
}
.header .log button:nth-of-type(1):hover {
  color: black;
}
.header .log button:nth-of-type(2) {
  width: 100px;
  font-weight: 600;
  height: 35px;
  background-color: #3228c7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.header .log button:nth-of-type(2):focus {
  outline: none;
}
.header .log button:nth-of-type(2):hover {
  background-color: #110f8a;
  color: white;
}
.header .log2 {
  display: none;
  cursor: pointer;
}
.header .search {
  width: 335px;
  height: 100%;
  margin: 0;
  float: right;
  justify-content: flex-end;
  margin-right: 20px;
}
.header .search form {
  display: block;
  margin: auto 0 auto 10px;
}
.header .search form input[type=text] {
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  background-color: #f1f1f1;
  border: 0;
  width: 230px;
  border-radius: 8px 0 0 8px;
  height: 16px;
  padding: 8px;
  border: 1.5px solid transparent;
}
.header .search form input[type=text]:focus {
  outline: none;
}
.header .search form input[type=text]:focus {
  background-color: white;
  border-color: #3228c7;
}
.header .search form button {
  box-sizing: border-box;
  transition: all 0.2s ease-in;
  background-color: #d6d4d4;
  border-radius: 0 8px 8px 0;
  border: 0;
  width: 40px;
  height: 35px;
  margin-left: -2px;
}
.header .search form button:focus {
  outline: none;
}
.header .search form button i {
  color: #3228c7;
}
.header .search form button:hover {
  cursor: pointer;
  background-color: #b8b8b8;
}
.header .search .searchSup {
  display: none;
}
.header .dropdown-aut {
  visibility: hidden;
  opacity: 0;
  box-shadow: 1px 2px 7px 2px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
  right: 100px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 4px;
  transition: opacity 0.2s linear;
}
.header .dropdown-aut form input {
  display: block;
  height: 30px;
  width: 80%;
  margin: auto;
  border: 1px solid rgba(0, 0, 0, 0.198);
  border-radius: 4px;
  padding: 0 8px;
  font-size: 14px;
}
.header .dropdown-aut form p {
  font-weight: 400;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.712);
  margin: 10px 0 0 15px;
}
.header .dropdown-aut form p:nth-of-type(3) {
  font-size: 13px;
  margin: 0 0 0 40px;
}
.header .dropdown-aut form p:nth-of-type(3) a {
  text-decoration: none;
  transition: all 0.15s linear;
}
.header .dropdown-aut form p:nth-of-type(3) a:hover {
  color: black;
}
.header .dropdown-aut form p:nth-of-type(4) {
  display: none;
}
.header .dropdown-aut form button {
  transition: all 0.2s linear;
  display: block;
  width: 120px;
  border: 0;
  border-radius: 8px;
  padding: 5px;
  margin: 10px auto 0 auto;
  background-color: #3228c7;
  color: white;
}
.header .dropdown-aut form button:hover {
  cursor: pointer;
  background-color: #110f8a;
}

.main {
  position: relative;
  top: 65px;
  width: 100%;
  height: 2000px;
  background-color: white;
  z-index: 0;
}

@media (max-width: 1160px) {
  .main {
    background-color: pink;
  }

  .header .logo {
    flex: 1;
    margin: 0 0 0 15px;
  }
  .header .logo .hamb-bars {
    display: flex;
    margin: 0 15px 0 15px;
  }
  .header .options {
    display: none;
    flex: 0;
  }
  .header .search {
    justify-content: flex-end;
    margin-right: 20px;
    flex: 8;
  }
}
@media (max-width: 830px) {
  .main {
    background-color: black;
  }

  .header .log {
    display: none;
  }
  .header .log2 {
    height: 100%;
    width: 50px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
  }
  .header .log2 i {
    margin: 0 10px 0 0;
    font-size: 25px;
    color: rgba(0, 0, 0, 0.651);
  }
  .header .log2 i:hover {
    cursor: pointer;
  }
  .header .dropdown-aut {
    right: 20px;
    height: 210px;
  }
  .header .dropdown-aut form p:nth-of-type(4) {
    display: block;
    width: 100px;
    padding-top: 5px;
    margin: auto;
    text-align: center;
    margin: 0 auto;
  }
  .header .dropdown-aut form p:nth-of-type(4) a {
    font-size: 13px;
    transition: all 0.15s linear;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.651);
  }
  .header .dropdown-aut form p:nth-of-type(4) a:hover {
    color: black;
  }
}
@media (max-width: 600px) {
  .main {
    background-color: white;
  }

  .header .search {
    width: 250px;
  }
  .header .search form input[type=text] {
    width: 165px;
  }
}
@media (max-width: 505px) {
  .main {
    background-color: yellow;
  }

  .header .search {
    width: 50px;
  }
  .header .search form {
    display: none;
  }
  .header .search form input[type=text] {
    display: none;
  }
  .header .search .searchSup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .search .searchSup i {
    font-size: 20px;
    margin-right: 10px;
  }
  .header .search .searchSup i:hover {
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
