<!doctype html>
<html lang="en">

  <body>
      <div class="main" style="background-color: rgb(231,231,231);">
        <h1 style="text-align: center;">Recupere sua senha</h1>
        <div style="width: 80%; margin: 0 auto; background-color: whitesmoke;" >
            <h3 style="text-align: center;">Olá,</h3>
            <h4 style="text-align: center;">Você solicitou a redefinição de sua senha! Clique no link a seguir para seguir com o <a href={{link}}>procedimento de redefinição de senha</a></h4>
            <p style="text-align: center;">Esperamos poder ter ajudado,</p>
            <p style="text-align: center;">Equipe EnglishMoon</p>
        </div>

        <h5 style="text-align: center;">Ainda precisa de ajuda? acesse <a href="https://englishmoon.com.br">englishmoon.com</a></h5>
        

      </div>
  </body>

</html>