<!doctype html>
<html lang="en">

  <body>
      <div class="main" style="background-color: rgb(231,231,231);">
        <h1 style="text-align: center;">Recupere sua senha</h1>
        <div style="width: 80%; margin: 0 auto; background-color: white;" >
            <h3 style="text-align: center;">Bem-vindo(a)</h3>
            <h4 style="text-align: center;">Sua conta foi criada com sucesso!</a></h4>
            <p style="text-align: center;">É um prazer tê-lo(a) conosco,</p>
            <p style="text-align: center;">Equipe EnglishMoon</p>
        </div>
        <h5 style="text-align: center;">Precisa de ajuda? acesse <a href="http://localhost:3000">englishmoon.com</a></h5>
      </div>
  </body>

</html>