<% include partials/header %>

<div class="main">

  <div class="bleh">
    <p>obrigado por se cadastrar</p>
  </div>
  <%include partials/footer %>
</div>

<script type="text/javascript" src="/scriptHeader.js"></script>
</body>
</html>