<!doctype html>
<html lang="en">

  <body>
      <div class="main" style="background-color: rgb(231,231,231);">
        <h1 style="text-align: center;">Senha alterada com sucesso</h1>
        <div style="width: 80%; margin: 0 auto; background-color: whitesmoke;" >
            <h3 style="text-align: center;">Olá,</h3>
            <h4 style="text-align: center;">Sua senha foi alterada com sucesso, tenha cuidado para não perdê-la ou deixá-la exposta</a></h4>
            <p style="text-align: center;">Esperamos poder ter ajudado,</p>
            <p style="text-align: center;">Equipe EnglishMoon</p>
        </div>

        <h5 style="text-align: center;">Ainda precisa de ajuda? acesse <a href="http://localhost:3000/">englishmoon.com</a></h5>
        

      </div>
  </body>

</html>